# Query Pipeline for Advanced Text-to-SQL

In this guide we show you how to setup a text-to-SQL pipeline over your data with our [query pipeline](https://docs.llamaindex.ai/en/stable/module_guides/querying/pipeline/root.html) syntax.

This gives you flexibility to enhance text-to-SQL with additional techniques. We show these in the below sections:
1. **Query-Time Table Retrieval**: Dynamically retrieve relevant tables in the text-to-SQL prompt.
2. **Query-Time Sample Row retrieval**: Embed/Index each row, and dynamically retrieve example rows for each table in the text-to-SQL prompt.

Our out-of-the box pipelines include our `NLSQLTableQueryEngine` and `SQLTableRetrieverQueryEngine`. (if you want to check out our text-to-SQL guide using these modules, take a look [here](https://docs.llamaindex.ai/en/stable/examples/index_structs/struct_indices/SQLIndexDemo.html)). This guide implements an advanced version of those modules, giving you the utmost flexibility to apply this to your own setting.

## Load and Ingest Data


### Load Data
We use the [WikiTableQuestions dataset](https://ppasupat.github.io/WikiTableQuestions/) (Pasupat and Liang 2015) as our test dataset.

We go through all the csv's in one folder, store each in a sqlite database (we will then build an object index over each table schema).

In [47]:
import io
import os
import time
import re
import requests
import zipfile
import json
import json as pyjson

import pandas as pd
from pathlib import Path
from typing import List

from pydantic import BaseModel, Field

from llama_index.core import Settings
from llama_index.core.program import LLMTextCompletionProgram
from llama_index.llms.ollama import Ollama

# put data into sqlite db
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
)

# setup Arize Phoenix for logging/observability
import phoenix as px
from llama_index.core import set_global_handler

from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core import SQLDatabase, VectorStoreIndex
from llama_index.embeddings.huggingface import HuggingFaceEmbedding

from llama_index.core.retrievers import SQLRetriever

from llama_index.core.prompts.default_prompts import DEFAULT_TEXT_TO_SQL_PROMPT
from llama_index.core.prompts import PromptTemplate
from llama_index.core.tools import FunctionTool
from llama_index.core.llms import ChatResponse

from llama_index.core.workflow import Workflow, step, StartEvent, StopEvent
from llama_index.core.workflow.events import Event

# import networkx as nx
# from pyvis.network import Network

from llama_index.utils.workflow import (
    draw_all_possible_flows,
    draw_most_recent_execution,
)

In [ ]:
URL = "https://github.com/ppasupat/WikiTableQuestions/releases/download/v1.0.2/WikiTableQuestions-1.0.2-compact.zip"

OUTPUT_DIR = "../data"
os.makedirs(OUTPUT_DIR, exist_ok=True)

print("Downloading...")
response = requests.get(URL)
response.raise_for_status()

print("Extracting...")
with zipfile.ZipFile(io.BytesIO(response.content)) as z:
    z.extractall(OUTPUT_DIR)

print("Done.")

Downloading...
Extracting...
Done.

In [3]:
DATA_DIR = Path("../data/WikiTableQuestions/csv/200-csv")
CSV_FILES = sorted([f for f in DATA_DIR.glob("*.csv")])
dfs = []

for csv_file in CSV_FILES:
    print(f"processing file: {csv_file}")
    try:
        df = pd.read_csv(csv_file)
        dfs.append(df)
    except Exception as e:
        print(f"Error parsing {csv_file}: {str(e)}")

processing file: ..\data\WikiTableQuestions\csv\200-csv\0.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\1.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\10.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\11.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\12.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\14.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\15.csv
Error parsing ..\data\WikiTableQuestions\csv\200-csv\15.csv: Error tokenizing data. C error: Expected 4 fields in line 16, saw 5

processing file: ..\data\WikiTableQuestions\csv\200-csv\17.csv
Error parsing ..\data\WikiTableQuestions\csv\200-csv\17.csv: Error tokenizing data. C error: Expected 6 fields in line 5, saw 7

processing file: ..\data\WikiTableQuestions\csv\200-csv\18.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\20.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\22.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\24.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\25.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\26.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\28.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\29.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\3.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\30.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\31.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\32.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\33.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\34.csv
Error parsing ..\data\WikiTableQuestions\csv\200-csv\34.csv: Error tokenizing data. C error: Expected 4 fields in line 6, saw 13

processing file: ..\data\WikiTableQuestions\csv\200-csv\35.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\36.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\37.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\38.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\4.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\41.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\42.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\44.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\45.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\46.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\47.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\48.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\7.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\8.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\9.csv

### Extract Table Name and Summary from each Table

Here we use gpt-3.5 to extract a table name (with underscores) and summary from each table with our Pydantic program.

In [4]:
TABLEINFO_DIR = "../data/WikiTableQuestions_TableInfo"
os.makedirs(TABLEINFO_DIR, exist_ok=True)

In [ ]:
class TableInfo(BaseModel):
    """Information regarding a structured table."""

    table_name: str = Field(
        ..., description="table name (must be underscores and NO spaces)"
    )
    table_summary: str = Field(
        ..., description="short, concise summary/caption of the table"
    )

PROMPT_STR = """\
    Return only a JSON object, with no explanation, no prose, no markdown, and no trailing text.
    You are to produce **only** a JSON object matching the following exact schema:

    {
        "table_name": "<short_name_in_snake_case_without_spaces>",
        "table_summary": "<short concise caption of the table>"
    }

    Example:
    {"table_name": "movie_info", "table_summary": "Summary of movie data"}

    Rules:
    - The table_name must be unique to the table, describe it clearly, and be in snake_case.
    - Do NOT output a generic table name (e.g., "table", "my_table").
    - Do NOT make the table name one of the following: {exclude_table_name_list}.
    - Do NOT include any keys other than "table_name" and "table_summary".
    - Do NOT include extra text before/after the JSON.
    - Do NOT include any other keys or text before/after the JSON.
    - Do NOT wrap in ```json.

    Table:
    {table_str}
"""

Settings.llm = Ollama(
    model="qwen3:0.6b", 
    request_timeout=240,
    format="json",
    # context_window=1000
)

program = LLMTextCompletionProgram.from_defaults(
    output_cls=TableInfo,
    prompt_template_str=PROMPT_STR,
    llm=Settings.llm,
    # verbose=True,
)

In [8]:
def extract_first_json_block(text: str):
    match = re.search(r"\{.*\}", text, re.S)  # grab first {...} block
    if not match:
        raise ValueError("No JSON object found in output")
    return pyjson.loads(match.group())


MAX_RETRIES = 3


def _get_tableinfo_with_index(idx: int) -> str:
    results_gen = Path(TABLEINFO_DIR).glob(f"{idx}_*")
    results_list = list(results_gen)
    
    if len(results_list) == 0:
        return None
    elif len(results_list) == 1:
        path = results_list[0]
        json_str = path.read_text(encoding="utf-8")
        return TableInfo.model_validate_json(json_str)
    else:
        raise ValueError(f"More than one file matching index: {list(results_gen)}")

In [ ]:
table_names = set()
table_infos = []

for idx, df in enumerate(dfs):
    table_info = _get_tableinfo_with_index(idx)
    if table_info:
        table_infos.append(table_info)
        continue

    df_str = df.head(10).to_csv()

    for attempt in range(MAX_RETRIES):
        try:
            raw_output = program(
                table_str=df_str,
                exclude_table_name_list=str(list(table_names)),
            )

            if isinstance(raw_output, TableInfo):
                table_info = raw_output
            elif isinstance(raw_output, dict):
                table_info = TableInfo(**raw_output)
            elif isinstance(raw_output, str):
                parsed_dict = extract_first_json_block(raw_output)
                table_info = TableInfo(**parsed_dict)
            else:
                raise TypeError(f"Unexpected return type from program(): {type(raw_output)}")

            table_name = table_info.table_name
            print(f"Processed table: {table_name}")

            if table_name in table_names:
                print(f"Table name '{table_name}' already exists, skipping this table.")
                table_info = None  # donâ€™t append duplicate
                break  # skip

            # save table info
            table_names.add(table_name)
            out_file = f"{TABLEINFO_DIR}/{idx}_{table_name}.json"
            json.dump(table_info.model_dump(), open(out_file, "w"))
            break  # move to next table

        except Exception as e:
            print(f"Error with attempt {attempt+1}: {e}")
            time.sleep(2)

    if table_info:
        table_infos.append(table_info)

To retry for a single index (in needed)

In [ ]:
# idx = 20
# df = dfs[idx]

# table_info = _get_tableinfo_with_index(idx)
# if table_info:
#     table_infos.append(table_info)
# else:
#     df_str = df.head(20).to_csv()

#     for attempt in range(MAX_RETRIES):
#         try:
#             raw_output = program(
#                 table_str=df_str,
#                 exclude_table_name_list=str(list(table_names)),
#             )

#             if isinstance(raw_output, TableInfo):
#                 table_info = raw_output
#             elif isinstance(raw_output, dict):
#                 table_info = TableInfo(**raw_output)
#             elif isinstance(raw_output, str):
#                 parsed_dict = extract_first_json_block(raw_output)
#                 table_info = TableInfo(**parsed_dict)
#             else:
#                 raise TypeError(f"Unexpected return type from program(): {type(raw_output)}")

#             table_name = table_info.table_name
#             print(f"Processed table: {table_name}")

#             if table_name in table_names:
#                 print(f"Table name '{table_name}' already exists, skipping this table.")
#                 table_info = None
#                 break

#             table_names.add(table_name)
#             out_file = f"{TABLEINFO_DIR}/{idx}_{table_name}.json"
#             json.dump(table_info.model_dump(), open(out_file, "w"))
#             break

#         except Exception as e:
#             print(f"Error with attempt {attempt+1}: {e}")
#             time.sleep(2)

#     if table_info:
#         table_infos.append(table_info)

Error with attempt 1: 1 validation error for TableInfo
  Invalid JSON: trailing characters at line 1 column 97 [type=json_invalid, input_value='{"table_name": "award_in...n the specified table"}', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/json_invalid
Processed table: award_nominations

### Put Data in SQL Database

We use `sqlalchemy`, a popular SQL database toolkit, to load all the tables.

In [10]:
# Function to create a sanitized column name
def sanitize_column_name(col_name):
    # Remove special characters and replace spaces with underscores
    return re.sub(r"\W+", "_", col_name)


# Function to create a table from a DataFrame using SQLAlchemy
def create_table_from_dataframe(
    df: pd.DataFrame, table_name: str, engine, metadata_obj
):
    # Sanitize column names
    sanitized_columns = {col: sanitize_column_name(col) for col in df.columns}
    df = df.rename(columns=sanitized_columns)

    # Dynamically create columns based on DataFrame columns and data types
    columns = [
        Column(col, String if dtype == "object" else Integer)
        for col, dtype in zip(df.columns, df.dtypes)
    ]

    # Create a table with the defined columns
    table = Table(table_name, metadata_obj, *columns)

    # Create the table in the database
    metadata_obj.create_all(engine)

    # Insert data from DataFrame into the table
    with engine.connect() as conn:
        for _, row in df.iterrows():
            insert_stmt = table.insert().values(**row.to_dict())
            conn.execute(insert_stmt)
        conn.commit()


engine = create_engine("sqlite:///:memory:")
metadata_obj = MetaData()
for idx, df in enumerate(dfs):
    tableinfo = _get_tableinfo_with_index(idx)
    if tableinfo is None:
        print(f"[ERROR] No TableInfo for index {idx}")
        continue  # skip this one or handle it differently
    print(f"Creating table: {tableinfo.table_name}")
    create_table_from_dataframe(df, tableinfo.table_name, engine, metadata_obj)

Creating table: movie_chart_positions
Creating table: movie_data
Creating table: death_accident_statistics
Creating table: award_data_1972
Creating table: award_data
Creating table: people_info
Creating table: broadcasting_info
Creating table: person_info
Creating table: chart_positions
Creating table: kodachrome_film_info
Creating table: bbc_radio_costs
Creating table: airport_locations
Creating table: party_voters
Creating table: club_performance
Creating table: horse_race_data
Creating table: grammy_awards
Creating table: boxing_matches
Creating table: sports_performance_data
Creating table: district_info
Creating table: party_data
Creating table: award_nominations
Creating table: government_ministers
Creating table: new_municipality_old_municipality_seat
Creating table: team_performance
Creating table: encoding_info
Creating table: temperature_data
Creating table: people_terms
Creating table: new_mexico_governorships
Creating table: weather_statistics
Creating table: drop_event_data
Creating table: precipitation_data
Creating table: afrikaans_language_usage
Creating table:  ohio_districts
Creating table: gene_functions

In [ ]:
px.launch_app()
set_global_handler("arize_phoenix")

c:\Users\Hp\Documents\GitHub\rag_text-2-sql\rag\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
C:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\contextlib.py:144: SAWarning: Skipped unsupported reflection of expression-based index ix_cumulative_llm_token_count_total
  next(self.gen)
C:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\contextlib.py:144: SAWarning: Skipped unsupported reflection of expression-based index ix_latency
  next(self.gen)

ðŸŒ To view the Phoenix app in your browser, visit http://localhost:6006/
ðŸ“– For more information on how to use Phoenix, check out https://arize.com/docs/phoenix

## Advanced Capability 1: Text-to-SQL with Query-Time Table Retrieval.

We now show you how to setup an e2e text-to-SQL with table retrieval.

### Define Modules

Here we define the core modules.
1. Object index + retriever to store table schemas
2. SQLDatabase object to connect to the above tables + SQLRetriever.
3. Text-to-SQL Prompt
4. Response synthesis Prompt
5. LLM

Object index, retriever, SQLDatabase

In [15]:
embed_model = HuggingFaceEmbedding(model_name="sentence-transformers/all-MiniLM-L6-v2")

sql_database = SQLDatabase(engine)
table_node_mapping = SQLTableNodeMapping(sql_database)

table_schema_objs = [
    SQLTableSchema(table_name=t.table_name, context_str=t.table_summary)
    for t in table_infos
]  # add a SQLTableSchema for each table

obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,
    embed_model=embed_model,
)
obj_retriever = obj_index.as_retriever(similarity_top_k=3)

SQLRetriever + Table Parser

In [17]:
sql_retriever = SQLRetriever(sql_database)


def get_table_context_str(table_schema_objs: List[SQLTableSchema]):
    """Get table context string."""
    context_strs = []
    for table_schema_obj in table_schema_objs:
        table_info = sql_database.get_single_table_info(
            table_schema_obj.table_name
        )
        if table_schema_obj.context_str:
            table_opt_context = " The table description is: "
            table_opt_context += table_schema_obj.context_str
            table_info += table_opt_context

        context_strs.append(table_info)
    return "\n\n".join(context_strs)


table_parser_component = get_table_context_str(table_schema_objs)

Text-to-SQL Prompt + Output Parser

In [19]:
def parse_response_to_sql(response: ChatResponse) -> str:
    """Parse response to SQL."""
    response = response.message.content
    sql_query_start = response.find("SQLQuery:")
    if sql_query_start != -1:
        response = response[sql_query_start:]
        
        if response.startswith("SQLQuery:"):
            response = response[len("SQLQuery:") :]
    sql_result_start = response.find("SQLResult:")
    if sql_result_start != -1:
        response = response[:sql_result_start]
    return response.strip().strip("```").strip()


sql_parser_tool = FunctionTool.from_defaults(fn=parse_response_to_sql)

text2sql_prompt = DEFAULT_TEXT_TO_SQL_PROMPT.partial_format(
    dialect=engine.dialect.name
)
print(text2sql_prompt.template)

Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
{schema}

Question: {query_str}
SQLQuery:

Response Synthesis Prompt

In [20]:
response_synthesis_prompt_str = (
    "Given an input question, synthesize a response from the query results.\n"
    "Query: {query_str}\n"
    "SQL: {sql_query}\n"
    "SQL Response: {context_str}\n"
    "Response: "
)
response_synthesis_prompt = PromptTemplate(
    response_synthesis_prompt_str,
)

### Define Workflow

Now that the components are in place, let's define the query pipeline!

In [ ]:
# # custom events
# class TableRetrievedEvent(Event):
#     tables: list
#     query_str: str

# class SchemaProcessedEvent(Event):
#     table_schema: str
#     query_str: str

# class SQLPromptReadyEvent(Event):
#     t2s_prompt: str
#     query_str: str
#     table_schema: str

# class SQLGeneratedEvent(Event):
#     sql_query: str
#     query_str: str
#     table_schema: str

# class SQLParsedEvent(Event):
#     sql_query: str
#     query_str: str
#     table_schema: str

# class SQLResultsEvent(Event):
#     context_str: str
#     sql_query: str
#     query_str: str

# class ResponsePromptReadyEvent(Event):
#     rs_prompt: str


# def extract_sql_from_response(llm_response: str) -> str:
#     """
#     Extract SQL query from LLM response that might contain reasoning or formatting.
#     """
#     response = llm_response.strip()
    
#     # First, remove <think> blocks entirely
#     response = re.sub(r'<think>.*?</think>', '', response, flags=re.DOTALL).strip()
    
#     # Method 1: Look for SQLQuery: pattern
#     sql_query_match = re.search(r'SQLQuery:\s*([^;]+;?)', response, re.IGNORECASE | re.DOTALL)
#     if sql_query_match:
#         sql = sql_query_match.group(1).strip()
#         return clean_sql_query(sql)
    
#     # Method 2: Look for SQL in code blocks
#     code_block_match = re.search(r'```sql\s*\n(.*?)\n```', response, re.IGNORECASE | re.DOTALL)
#     if code_block_match:
#         sql = code_block_match.group(1).strip()
#         return clean_sql_query(sql)
    
#     # Method 3: Look for standalone SQL statements (most common case)
#     sql_keywords = ['SELECT', 'INSERT', 'UPDATE', 'DELETE', 'WITH']
    
#     # Split by lines and look for SQL statements
#     lines = response.split('\n')
#     for line in lines:
#         line = line.strip()
#         if not line:
#             continue
            
#         # Check if line starts with SQL keyword
#         if any(line.upper().startswith(keyword.upper()) for keyword in sql_keywords):
#             return clean_sql_query(line)
    
#     # Method 4: Look for multi-line SQL statements
#     for keyword in sql_keywords:
#         pattern = rf'\b{keyword}\b.*?(?=\n\s*\n|\nSQLResult|\nAnswer|$)'
#         sql_match = re.search(pattern, response, re.IGNORECASE | re.DOTALL)
#         if sql_match:
#             sql = sql_match.group(0).strip()
#             return clean_sql_query(sql)
    
#     # Fallback: if nothing found, return empty string to avoid errors
#     print(f"Warning: Could not extract SQL from response: {response[:100]}...")
#     return "SELECT 1"  # Safe fallback query


# def clean_sql_query(sql: str) -> str:
#     """
#     Clean and standardize SQL query.
#     """
#     if not sql:
#         return "SELECT 1"
    
#     # Remove extra whitespace
#     sql = ' '.join(sql.split())
    
#     # Fix quote issues - convert double quotes to single quotes for string literals
#     # This is a simple approach - for more complex cases, you'd need a proper SQL parser
#     sql = re.sub(r'"([^"]*)"', r"'\1'", sql)
    
#     # Remove multiple semicolons
#     sql = re.sub(r';+', ';', sql)
    
#     # Remove trailing semicolon and add it back cleanly
#     sql = sql.rstrip(';').strip()
    
#     # Don't add semicolon for now since it might be causing issues
#     return sql


# class Text2SQLWorkflow(Workflow):
    
#     @step
#     async def input_step(self, ev: StartEvent) -> TableRetrievedEvent:
#         """Process the initial query and retrieve relevant tables"""
#         query = ev.query
        
#         # Retrieve table schemas (you'll need to define obj_retriever)
#         table_schema_objs = obj_retriever.retrieve(query)
        
#         return TableRetrievedEvent(
#             tables=table_schema_objs,
#             query_str=query
#         )
    
#     @step
#     async def table_output_parser_step(self, ev: TableRetrievedEvent) -> SchemaProcessedEvent:
#         """Parse table schemas into string format"""
#         # You'll need to define get_table_context_str function
#         schema_str = get_table_context_str(ev.tables)
        
#         return SchemaProcessedEvent(
#             table_schema=schema_str,
#             query_str=ev.query_str
#         )
    
#     @step
#     async def text2sql_prompt_step(self, ev: SchemaProcessedEvent) -> SQLPromptReadyEvent:
#         """Create the text-to-SQL prompt"""
#         # Enhanced prompt to ensure clean SQL output
#         ENHANCED_PROMPT = f"""
#             Given the following table schema and user question, generate a SQL query.

#             Table Schema:
#             {ev.table_schema}

#             User Question: {ev.query_str}

#             Instructions:
#             1. Generate ONLY a valid SQL query
#             2. Do not include any explanations, reasoning, or additional text
#             3. Do not include SQLQuery:, SQLResult:, or Answer: labels
#             4. Do not wrap in code blocks or other formatting
#             5. End the query with a semicolon

#             SQL Query:
#         """
        
#         # If you have a custom text2sql_prompt, use it instead
#         # prompt = text2sql_prompt.format(
#         #     query_str=ev.query_str,
#         #     table_schema=ev.table_schema
#         # )
        
#         return SQLPromptReadyEvent(
#             t2s_prompt=ENHANCED_PROMPT,
#             query_str=ev.query_str,
#             table_schema=ev.table_schema
#         )
    
#     @step
#     async def text2sql_llm_step(self, ev: SQLPromptReadyEvent) -> SQLGeneratedEvent:
#         """Generate SQL query using LLM"""
#         # You'll need to configure Settings.llm
#         sql_response = await Settings.llm.acomplete(ev.t2s_prompt)
        
#         return SQLGeneratedEvent(
#             sql_query=str(sql_response).strip(),
#             query_str=ev.query_str,
#             table_schema=ev.table_schema
#         )
    
#     @step
#     async def sql_output_parser_step(self, ev: SQLGeneratedEvent) -> SQLParsedEvent:
#         """Parse and clean the generated SQL query"""
#         # Extract clean SQL from the LLM response
#         clean_sql = extract_sql_from_response(ev.sql_query)
        
#         print(f"Original LLM Response: {ev.sql_query}")
#         print(f"Cleaned SQL Query: {clean_sql}")
        
#         # Validate that we have a reasonable SQL query
#         if not clean_sql or clean_sql == "SELECT 1":
#             print("Warning: Could not extract valid SQL, using fallback")
        
#         return SQLParsedEvent(
#             sql_query=clean_sql,
#             query_str=ev.query_str,
#             table_schema=ev.table_schema
#         )
    
#     @step
#     async def sql_retriever_step(self, ev: SQLParsedEvent) -> SQLResultsEvent:
#         """Execute SQL query and get results"""
#         try:
#             # You'll need to define sql_retriever
#             results = sql_retriever.retrieve(ev.sql_query)
            
#             return SQLResultsEvent(
#                 context_str=str(results),
#                 sql_query=ev.sql_query,
#                 query_str=ev.query_str
#             )
#         except Exception as e:
#             print(f"SQL Execution Error: {e}")
#             print(f"Failed SQL Query: {ev.sql_query}")
#             # Return error information for debugging
#             return SQLResultsEvent(
#                 context_str=f"SQL execution failed: {str(e)}",
#                 sql_query=ev.sql_query,
#                 query_str=ev.query_str
#             )
    
#     @step
#     async def response_synthesis_prompt_step(self, ev: SQLResultsEvent) -> ResponsePromptReadyEvent:
#         """Create the response synthesis prompt"""
#         # You'll need to define response_synthesis_prompt template
#         prompt = response_synthesis_prompt.format(
#             query_str=ev.query_str,
#             context_str=ev.context_str,
#             sql_query=ev.sql_query
#         )
        
#         return ResponsePromptReadyEvent(rs_prompt=prompt)
    
#     @step
#     async def response_synthesis_llm_step(self, ev: ResponsePromptReadyEvent) -> StopEvent:
#         """Generate final answer using LLM"""
#         answer = await Settings.llm.acomplete(ev.rs_prompt)
        
#         return StopEvent(result=str(answer))


# async def run_text2sql_workflow(query: str):
#     workflow = Text2SQLWorkflow(timeout=120)
#     result = await workflow.run(query=query)
#     return result

In [ ]:
# custom events
class TableRetrievedEvent(Event):
    tables: list
    query_str: str

class SchemaProcessedEvent(Event):
    table_schema: str
    query_str: str

class SQLPromptReadyEvent(Event):
    t2s_prompt: str
    query_str: str
    table_schema: str
    retry_count: int = 0
    error_message: str = ""

class SQLGeneratedEvent(Event):
    sql_query: str
    query_str: str
    table_schema: str
    retry_count: int = 0
    error_message: str = ""

class SQLParsedEvent(Event):
    sql_query: str
    query_str: str
    table_schema: str
    retry_count: int = 0
    error_message: str = ""

class SQLResultsEvent(Event):
    context_str: str
    sql_query: str
    query_str: str
    success: bool = True

class ResponsePromptReadyEvent(Event):
    rs_prompt: str



def extract_sql_from_response(llm_response: str) -> str:
    """
    Extract SQL query from LLM response that might contain reasoning or formatting.
    """
    response = llm_response.strip()
    
    # First, remove <think> blocks entirely
    response = re.sub(r'<think>.*?</think>', '', response, flags=re.DOTALL).strip()
    
    # Method 1: Look for SQLQuery: pattern
    sql_query_match = re.search(r'SQLQuery:\s*([^;]+;?)', response, re.IGNORECASE | re.DOTALL)
    if sql_query_match:
        sql = sql_query_match.group(1).strip()
        return clean_sql_query(sql)
    
    # Method 2: Look for SQL in code blocks
    code_block_match = re.search(r'```sql\s*\n(.*?)\n```', response, re.IGNORECASE | re.DOTALL)
    if code_block_match:
        sql = code_block_match.group(1).strip()
        return clean_sql_query(sql)
    
    # Method 3: Look for standalone SQL statements (most common case)
    sql_keywords = ['SELECT', 'INSERT', 'UPDATE', 'DELETE', 'WITH']
    
    # Split by lines and look for SQL statements
    lines = response.split('\n')
    for line in lines:
        line = line.strip()
        if not line:
            continue
            
        # Check if line starts with SQL keyword
        if any(line.upper().startswith(keyword.upper()) for keyword in sql_keywords):
            return clean_sql_query(line)
    
    # Method 4: Look for multi-line SQL statements
    for keyword in sql_keywords:
        pattern = rf'\b{keyword}\b.*?(?=\n\s*\n|\nSQLResult|\nAnswer|$)'
        sql_match = re.search(pattern, response, re.IGNORECASE | re.DOTALL)
        if sql_match:
            sql = sql_match.group(0).strip()
            return clean_sql_query(sql)
    
    # Fallback: if nothing found, return empty string to avoid errors
    print(f"Warning: Could not extract SQL from response: {response[:100]}...")
    return "SELECT 1"  # Safe fallback query


def clean_sql_query(sql: str) -> str:
    """
    Clean and standardize SQL query.
    """
    if not sql:
        return "SELECT 1"
    
    # Remove extra whitespace
    sql = ' '.join(sql.split())
    
    # Fix quote issues - convert double quotes to single quotes for string literals
    # This is a simple approach - for more complex cases, you'd need a proper SQL parser
    sql = re.sub(r'"([^"]*)"', r"'\1'", sql)
    
    # Remove multiple semicolons
    sql = re.sub(r';+', ';', sql)
    
    # Remove trailing semicolon and add it back cleanly
    sql = sql.rstrip(';').strip()
    
    # Don't add semicolon for now since it might be causing issues
    return sql


def analyze_sql_error(error_message: str, sql_query: str, table_schema: str) -> str:
    """
    Analyze SQL error and provide suggestions for fixing the query.
    """
    error_lower = error_message.lower()
    
    if "no such column" in error_lower:
        # Extract the problematic column name
        column_match = re.search(r'no such column:\s*(\w+)', error_lower)
        if column_match:
            bad_column = column_match.group(1)
            return f"Column '{bad_column}' does not exist in the table. Please check the table schema and use the correct column name."
    
    elif "no such table" in error_lower:
        return "Table does not exist. Please check the table name in the schema."
    
    elif "syntax error" in error_lower:
        return "SQL syntax error. Please check for missing quotes, parentheses, or incorrect SQL structure."
    
    elif "ambiguous column" in error_lower:
        return "Ambiguous column reference. Please specify table aliases or use fully qualified column names."
    
    return f"SQL execution error: {error_message}"


class Text2SQLWorkflow(Workflow):
    
    @step
    async def input_step(self, ev: StartEvent) -> TableRetrievedEvent:
        """Process the initial query and retrieve relevant tables"""
        query = ev.query
        
        # Retrieve table schemas (you'll need to define obj_retriever)
        table_schema_objs = obj_retriever.retrieve(query)
        
        return TableRetrievedEvent(
            tables=table_schema_objs,
            query_str=query
        )
    
    @step
    async def table_output_parser_step(self, ev: TableRetrievedEvent) -> SchemaProcessedEvent:
        """Parse table schemas into string format"""
        # You'll need to define get_table_context_str function
        schema_str = get_table_context_str(ev.tables)
        
        return SchemaProcessedEvent(
            table_schema=schema_str,
            query_str=ev.query_str
        )
    
    @step
    async def text2sql_prompt_step(self, ev: SchemaProcessedEvent | SQLResultsEvent) -> SQLPromptReadyEvent:
        """Create the text-to-SQL prompt with optional error correction"""
        
        # Handle both initial attempt and retry attempts
        if isinstance(ev, SchemaProcessedEvent):
            table_schema = ev.table_schema
            query_str = ev.query_str
            retry_count = 0
            error_message = ""
        else:  # SQLResultsEvent (retry case)
            table_schema = getattr(ev, 'table_schema', '')
            query_str = ev.query_str
            retry_count = getattr(ev, 'retry_count', 0) + 1
            error_message = getattr(ev, 'error_message', '')
        
        if retry_count == 0:
            # Initial attempt
            ENHANCED_PROMPT = f"""Given the table schema and user question below, generate ONLY a valid SQL query.

                Table Schema:
                {table_schema}

                User Question: {query_str}

                IMPORTANT RULES:
                1. Return ONLY the SQL query, nothing else
                2. Use single quotes for string literals, not double quotes
                3. Do not include any explanations, reasoning, or additional text
                4. Do not include labels like "SQLQuery:", "Answer:", etc.
                5. Do not wrap in code blocks or markdown formatting
                6. Do not include semicolons at the end
                7. Do not include any <think> tags or reasoning
                8. Only use column names that exist in the provided schema

                Example format:
                SELECT column_name FROM table_name WHERE condition

                Your SQL query:
            """
        else:
            # Retry attempt with error information
            ENHANCED_PROMPT = f"""The previous SQL query failed with an error. Please generate a corrected SQL query.

                Table Schema:
                {table_schema}

                User Question: {query_str}

                Previous Error: {error_message}

                IMPORTANT RULES:
                1. Return ONLY the corrected SQL query, nothing else
                2. Use single quotes for string literals, not double quotes
                3. Carefully check that all column names exist in the provided schema
                4. Do not include any explanations, reasoning, or additional text
                5. Do not include labels like "SQLQuery:", "Answer:", etc.
                6. Do not wrap in code blocks or markdown formatting
                7. Do not include semicolons at the end
                8. Only use column names that are explicitly listed in the schema above

                Your corrected SQL query:
            """
        
        return SQLPromptReadyEvent(
            t2s_prompt=ENHANCED_PROMPT,
            query_str=query_str,
            table_schema=table_schema,
            retry_count=retry_count,
            error_message=error_message
        )
    
    @step
    async def text2sql_llm_step(self, ev: SQLPromptReadyEvent) -> SQLGeneratedEvent:
        """Generate SQL query using LLM"""
        # You'll need to configure Settings.llm
        sql_response = await Settings.llm.acomplete(ev.t2s_prompt)
        
        return SQLGeneratedEvent(
            sql_query=str(sql_response).strip(),
            query_str=ev.query_str,
            table_schema=ev.table_schema,
            retry_count=ev.retry_count,
            error_message=ev.error_message
        )
    
    @step
    async def sql_output_parser_step(self, ev: SQLGeneratedEvent) -> SQLParsedEvent:
        """Parse and clean the generated SQL query"""
        # Extract clean SQL from the LLM response
        clean_sql = extract_sql_from_response(ev.sql_query)
        
        print(f"Attempt #{ev.retry_count + 1}")
        print(f"Original LLM Response: {ev.sql_query}")
        print(f"Cleaned SQL Query: {clean_sql}")
        
        # Validate that we have a reasonable SQL query
        if not clean_sql or clean_sql == "SELECT 1":
            print("Warning: Could not extract valid SQL, using fallback")
        
        return SQLParsedEvent(
            sql_query=clean_sql,
            query_str=ev.query_str,
            table_schema=ev.table_schema,
            retry_count=ev.retry_count,
            error_message=ev.error_message
        )
    
    @step
    async def sql_retriever_step(self, ev: SQLParsedEvent) -> SQLResultsEvent:
        """Execute SQL query and get results with retry logic"""
        max_retries = 3
        
        try:
            # You'll need to define sql_retriever
            results = sql_retriever.retrieve(ev.sql_query)
            
            print(f"[SUCCESS] SQL executed successfully on attempt #{ev.retry_count + 1}")
            return SQLResultsEvent(
                context_str=str(results),
                sql_query=ev.sql_query,
                query_str=ev.query_str,
                success=True
            )
        except Exception as e:
            error_msg = str(e)
            print(f"[ERROR] SQL Execution Error (Attempt #{ev.retry_count + 1}): {error_msg}")
            print(f"Failed SQL Query: {ev.sql_query}")
            
            # Check if we should retry
            if ev.retry_count < max_retries:
                print(f"[RETRY] Retrying... (Attempt #{ev.retry_count + 2}/{max_retries + 1})")
                
                # Create a new event that will trigger a retry
                error_analysis = analyze_sql_error(error_msg, ev.sql_query, ev.table_schema)
                
                # Return an SQLResultsEvent that will trigger a retry
                retry_event = SQLResultsEvent(
                    context_str="",
                    sql_query=ev.sql_query,
                    query_str=ev.query_str,
                    success=False
                )
                retry_event.retry_count = ev.retry_count + 1
                retry_event.error_message = error_analysis
                retry_event.table_schema = ev.table_schema
                
                return retry_event
            else:
                print(f"[ERROR, RETRY FAILED] Max retries ({max_retries}) reached. Giving up.")
                return SQLResultsEvent(
                    context_str=f"Failed to execute SQL after {max_retries + 1} attempts. Final error: {error_msg}",
                    sql_query=ev.sql_query,
                    query_str=ev.query_str,
                    success=False
                )
    
    @step
    async def retry_handler_step(self, ev: SQLResultsEvent) -> SQLPromptReadyEvent:
        """Handle retry logic - only triggered when SQL execution fails"""
        # This step only processes failed SQL results that need retrying
        if ev.success or not hasattr(ev, 'retry_count'):
            return None  # Let successful results pass through to response synthesis
        
        print(f"[RETRY] Preparing retry #{ev.retry_count + 1}")
        
        # Create a new prompt event for retry
        return SQLPromptReadyEvent(
            t2s_prompt="",  # Will be filled in text2sql_prompt_step
            query_str=ev.query_str,
            table_schema=getattr(ev, 'table_schema', ''),
            retry_count=ev.retry_count,
            error_message=getattr(ev, 'error_message', 'Unknown error')
        )
    
    @step
    async def response_synthesis_prompt_step(self, ev: SQLResultsEvent) -> ResponsePromptReadyEvent:
        """Create the response synthesis prompt - only for successful SQL results"""
        # Only process successful SQL results
        if not ev.success:
            return None
            
        # You'll need to define response_synthesis_prompt template
        prompt = response_synthesis_prompt.format(
            query_str=ev.query_str,
            context_str=ev.context_str,
            sql_query=ev.sql_query
        )
        
        return ResponsePromptReadyEvent(rs_prompt=prompt)
    
    @step
    async def response_synthesis_llm_step(self, ev: ResponsePromptReadyEvent) -> StopEvent:
        """Generate final answer using LLM"""
        answer = await Settings.llm.acomplete(ev.rs_prompt)
        
        return StopEvent(result=str(answer))


async def run_text2sql_workflow(query: str):
    workflow = Text2SQLWorkflow(timeout=240)
    result = await workflow.run(query=query)
    return result

### Visualize Workflow

A really nice property of the query pipeline syntax is you can easily visualize it in a graph via networkx.

In [ ]:
# # Build a directed graph of steps
# G = nx.DiGraph()

# # Nodes
# steps = [
#     "input",
#     "table_retriever",
#     "table_output_parser",
#     "text2sql_prompt",
#     "text2sql_llm",
#     "sql_output_parser",
#     "sql_retriever",
#     "response_synthesis_prompt",
#     "response_synthesis_llm"
# ]
# G.add_nodes_from(steps)

# # Edges
# edges = [
#     ("input", "table_retriever"),
#     ("table_retriever", "table_output_parser"),
    
#     ("input", "text2sql_prompt"),
#     ("table_output_parser", "text2sql_prompt"),

#     ("text2sql_prompt", "text2sql_llm"),
#     ("text2sql_llm", "sql_output_parser"),
#     ("sql_output_parser", "sql_retriever"),
    
#     ("sql_output_parser", "response_synthesis_prompt"),
#     ("sql_retriever", "response_synthesis_prompt"),
#     ("input", "response_synthesis_prompt"),
    
#     ("response_synthesis_prompt", "response_synthesis_llm")
# ]
# G.add_edges_from(edges)

# # Visualize
# net = Network(notebook=True, cdn_resources="in_line", directed=True)
# net.from_nx(G)

# html_content = net.generate_html()
# with open("../outputs/trials_v1/text2sql_dag.html", "w", encoding="utf-8") as f:
#     f.write(html_content)

# print("Saved text2sql_dag.html successfully.")

Saved text2sql_dag.html successfully.

In [ ]:
async def visualize_text2sql_workflow():
    """
    Function to visualize the Text2SQL workflow both as all possible flows
    and a specific execution example
    """
    output_dir = ("../outputs/trials_v1")
    os.makedirs(output_dir, exist_ok=True)
    
    # 1. Draw ALL possible flows through your workflow
    print("Drawing all possible flows...")
    all_flows_path = os.path.join(output_dir, "text2sql_workflow_all_flows.html")
    draw_all_possible_flows(
        Text2SQLWorkflow, 
        filename=all_flows_path
    )
    print(f"[SUCCESS] All possible flows saved to: {all_flows_path}")

    # 2. Draw a specific execution to see the actual path taken
    print("Running workflow and drawing execution path...")
    
    # Create workflow instance
    workflow = Text2SQLWorkflow(timeout=240)
    
    # Run with a sample query
    sample_query = "What are the top 5 customers by total orders?"
    
    try:
        # Execute the workflow
        result = await workflow.run(query=sample_query)
        
        # Draw the execution path
        execution_path = os.path.join(output_dir, "text2sql_workflow_recent_execution.html")
        draw_most_recent_execution(
            workflow,
            filename=execution_path
        )
        print(f"[SUCCESS] Recent execution path saved to: {execution_path}")
        print(f"Workflow result: {result}")
        
    except Exception as e:
        print(f"[ERROR] Error during workflow execution: {e}")
        print("Note: You may need to set up your retriever and LLM settings first")

# Alternative: Just visualize all flows without execution
def visualize_workflow_structure_only():
    """
    Just visualize the workflow structure without executing it
    """
    output_dir = "../outputs/trials_v1"
    os.makedirs(output_dir, exist_ok=True)
    
    structure_path = os.path.join(output_dir, "text2sql_workflow_structure.html")
    print("Drawing workflow structure...")
    draw_all_possible_flows(
        Text2SQLWorkflow,
        filename=structure_path
    )
    print(f"[SUCCESS] Workflow structure saved to: {structure_path}")


# Option 1: Just structure
visualize_workflow_structure_only()

# Option 2: Full visualization with execution
# asyncio.run(visualize_text2sql_workflow())

Drawing workflow structure...
../outputs/trials_v1\text2sql_workflow_structure.html
[SUCCESS] Workflow structure saved to: ../outputs/trials_v1\text2sql_workflow_structure.html

### Run Some Queries!

Now we're ready to run some queries across this entire pipeline.

In [38]:
result = await run_text2sql_workflow("What was the year that The Notorious B.I.G was signed to Bad Boy?")
print(result)

Attempt #1
Original LLM Response: <think>
Okay, let's see. The user is asking for the year that The Notorious B.I.G was signed to Bad Boy. Hmm, I need to figure out how to connect the tables here.

First, the Notorious B.I.G is an artist, so their signing year probably comes from the people_info table. The people_info table has columns Act (VARCHAR) and Year_signed (INTEGER). The question is asking for the Year_signed, so I need to find a row in people_info where the Act is 'The Notorious B.I.G'. Then, check if there's a link between their signing and the album released under Bad Boy.

Wait, the table schema mentions people_info has _Albums_released_under_Bad_Boy (VARCHAR). So maybe the people_info table has a column that refers to the album's release year. But the user is asking about the signing year, not the album release. So the question is about the year they signed to Bad Boy's album.

So the user wants the Year_signed from the people_info where Act is 'The Notorious B.I.G'. How to get that? Maybe a JOIN between people_info and the table where they are an artist, but the problem is there's no table linking people to other tables except people_info. Wait, the tables are people_info, Grammy Awards, and drop_event_data. The user is asking about the signing of B.I.G, so the people_info table's Act column must be 'The Notorious B.I.G'. Therefore, the SQL query would be SELECT Year_signed FROM people_info WHERE Act = 'The Notorious B.I.G'; but the problem says to generate only a valid SQL query. So maybe that's the answer. But the example given in the problem shows SELECT column names. Wait, the example uses SELECT column_name FROM table_name WHERE condition. So perhaps the correct query is that, but the user's question is about the year, so the answer is the same as the example. Therefore, the SQL query would be as simple as selecting Year_signed from people_info where Act is 'The Notorious B.I.G'.
</think>

SELECT Year_signed FROM people_info WHERE Act = 'The Notorious B.I.G';
Cleaned SQL Query: SELECT Year_signed FROM people_info WHERE Act = 'The Notorious B.I.G'
[SUCCESS] SQL executed successfully on attempt #1
<think>
Okay, let's see. The user is asking for the year The Notorious B.I.G was signed to Bad Boy. The SQL query selects the Year_signed from the people_info table where the Act is 'The Notorious B.I.G'. The SQL response gives a result of 1993.

So, the SQL query's result is a list with one entry, 1993. That means the answer is 1993. I need to make sure there's no other data or context I'm missing. The problem seems straightforward. The SQL is correct, and the result is a single value. Therefore, the answer should be 1993.
</think>

The Notorious B.I.G was signed to Bad Boy in the year 1993.

In [39]:
response_1 = await run_text2sql_workflow("Who won best director in the 1972 academy awards")
print(response_1)

Attempt #1
Original LLM Response: <think>
Okay, let's see. The user wants to know who won the best director in the 1972 academy awards. So first, I need to figure out how to connect the tables to get that information.

The tables involved here are award_data_1972, award_nominations, and award_data. The question is about the 1972 awards, so maybe I should look at the year column in those tables. The problem is that the award_data table has the years, but the user is asking specifically for 1972. Also, the question refers to the best director, which is a specific award.

Looking at the tables, the award_nominations table might have the year and award details. The result column in award_data_1972 and award_nominations could indicate the result, but how does that relate to the director? Wait, maybe the best director is tied to a specific award. So perhaps in award_nominations, there's a column that corresponds to the best director, or maybe in award_data, there's a category that includes the director.

Wait, the user's question is about the best director in 1972. The tables' columns are Award, Category, Nominee, Result, etc. So maybe in award_nominations, there's a nominee field that corresponds to the director. Or in award_data, there's a category like "Director" and the year 1972.

So the steps would be: check if the award in award_nominations has a year of 1972 and the category as "Director". Then select the Nominee from that table. Alternatively, check if the award_data has the year 1972 and the category "Director". Then select the Nominee.

Wait, but the user is asking for the best director, so maybe the result column in award_nominations or award_data tells us that. Let's think. The result column in award_nominations and award_data could indicate the category. For example, if in award_nominations, the result is "Best Director", then the Nominee would be the answer. Similarly, if in award_data, the category is "Director" and the year is 1972, then the Nominee would be the answer.

So the SQL query would need to check for those conditions. Let's structure it. First, check if there's a nomination in award_nominations where the year is 1972 and the category is "Director". Then select the Nominee. Alternatively, check if in award_data, there's a record with year 1972 and category "Director".

But how to connect these tables? Since the user is asking for the best director, maybe the result column in award_nominations or award_data indicates that. So the SQL query could be: SELECT Nominee FROM award_nominations WHERE Year = 1972 AND Category = 'Director'; or from award_data.

Wait, but the problem says to use the provided schema. Let me check the tables again. The award_nominations has columns Year, Award, Film, Result. The award_data has columns Year, Award, Category, Nominated_work, Result. The user's question is about the best director, so maybe the result column in award_nominations or award_data has that information.

So the SQL query would be either selecting from award_nominations or award_data. But how to know which one? Maybe the best director is in a specific category. For example, in award_nominations, if the result is "Best Director", then the Nominee is the answer. Or in award_data, if the category is "Director" and the year is 1972, then the Nominee is the answer.

So the SQL query could be: SELECT Nominee FROM award_nominations WHERE Year = 1972 AND Category = 'Director'; or from award_data. But which one is correct? Let's think. The user's question is phrased as "Who won best director in the 1972 academy awards". So the answer is the person who won that award. If the result in award_nominations is "Best Director", then the Nominee is the answer. Similarly, if in award_data, there's a record with year 1972 and category "Director", then the Nominee is the answer.

So the SQL query would be selecting the Nominee from either table. But how to know which one? Since the user's question is about the best director, maybe the result in award_nominations or award_data would have that information.

Alternatively, maybe the award_data has the year and category, and the Nominee is stored there. So the query would be: SELECT Nominee FROM award_data WHERE Year = 1972 AND Category = 'Director';

But the problem is that the tables are different. For example, award_data has a category, but the user is asking about a specific category. So perhaps the correct approach is to check for the category in award_nominations.

Wait, the user's question is about the best director, so the answer is the person who won that award. If in award_nominations, the result is "Best Director", then the Nominee is the answer. Similarly, in award_data, if there's a record where the category is "Director" and the year is 1972, then the Nominee is the answer.

Therefore, the SQL query could be: SELECT Nominee FROM award_nominations WHERE Year = 1972 AND Category = 'Director';

Or from award_data. But how to decide? Since the problem says to use the provided schema, and the tables have columns like Year, Award, Category, etc., perhaps the answer is from award_nominations.

Wait, but the user's question is phrased as "Who won best director in the 1972 academy awards", which implies that there's a specific award in 1972. So maybe the answer is from award_nominations where the result is "Best Director".

Alternatively, maybe in award_data, the category is "Director", and the year is 1972.

But since the user's question is about the best director, which is a specific award, the correct approach is to check for that specific award in the relevant tables. So the SQL query would be selecting the Nominee from the award_nominations or award_data table where the year is 1972 and the category is "Director".

Therefore, the final SQL query would be:

SELECT Nominee FROM award_nominations WHERE Year = 1972 AND Category = 'Director';

Or from award_data. But how to know? Since the problem says to use the provided schema, and the tables have those columns, perhaps the answer is from award_nominations.

But maybe the answer is from award_data. Let me check. If the award_data has the year and category, and the Nominee is stored there, then yes. So the query would be:

SELECT Nominee FROM award_data WHERE Year = 1972 AND Category = 'Director';

But the user's question is about the best director, which is a specific award. So the answer depends on which table has that information.

Since the user's question is in the context of the tables provided, and given that the tables have the columns, the correct approach is to use the award_nominations table.

But I'm not entirely sure. Maybe there's a way to combine the tables. For example, if the result in award_nominations indicates the category, and the year is 1972, then the Nominee is the answer.

Alternatively, maybe the answer is in award_data.

But the problem says to generate only a valid SQL query. So the user's question is asking for who won best director in 1972, so the answer is the Nominee from the relevant table.

So the final answer would be a query that selects the Nominee from the award_nominations or award_data table where Year is 1972 and Category is 'Director'.

Therefore, the SQL query is:

SELECT Nominee FROM award_nominations WHERE Year = 1972 AND Category = 'Director';

Or from award_data. But which one? Since the user's question is about 1972, and the tables have those columns, perhaps the answer is from award_data.

Wait, but the award_data has columns like Year, Award, Category, etc. So if in award_data, the Year is 1972 and the Category is 'Director', then the Nominee is the answer.

So the query would be:

SELECT Nominee FROM award_data WHERE Year = 1972 AND Category = 'Director';

Yes, that makes sense. So the answer is this query.
</think>

SELECT Nominee FROM award_nominations WHERE Year = 1972 AND Category = 'Director';
Cleaned SQL Query: SELECT Nominee FROM award_nominations WHERE Year = 1972 AND Category = 'Director'
[ERROR] SQL Execution Error (Attempt #1): Statement "SELECT Nominee FROM award_nominations WHERE Year = 1972 AND Category = 'Director'" is invalid SQL.
Error: no such column: Nominee
Failed SQL Query: SELECT Nominee FROM award_nominations WHERE Year = 1972 AND Category = 'Director'
[RETRY] Retrying... (Attempt #2/4)
[RETRY] Preparing retry #2
Warning: Could not extract SQL from response: æ‚¨å¥½ï¼æ‚¨éœ€è¦æˆ‘å¸®åŠ©å—ï¼Ÿè¯·æä¾›æ‚¨éœ€è¦çš„ä¿¡æ¯æˆ–é—®é¢˜ï¼Œæˆ‘ä¼šå°½åŠ›ä¸ºæ‚¨æä¾›æ”¯æŒã€‚...
Attempt #2
Original LLM Response: <think>
Okay, the user provided a query in Chinese, but the actual content is empty. I need to ask them to provide the specific information they want to use. Let me check if there's any context or previous messages I missed. Since there's no previous interaction, I should prompt them to give the details they need. I'll make sure to respond politely and ask clearly.
</think>

æ‚¨å¥½ï¼æ‚¨éœ€è¦æˆ‘å¸®åŠ©å—ï¼Ÿè¯·æä¾›æ‚¨éœ€è¦çš„ä¿¡æ¯æˆ–é—®é¢˜ï¼Œæˆ‘ä¼šå°½åŠ›ä¸ºæ‚¨æä¾›æ”¯æŒã€‚
Cleaned SQL Query: SELECT 1
Warning: Could not extract valid SQL, using fallback
[SUCCESS] SQL executed successfully on attempt #2
Attempt #3
Original LLM Response: <think>
Okay, let's see. The user is asking for the query that gives the winner of the best director in 1972 academy awards. The previous error was that the column 'nominee' doesn't exist in the table, so I need to check the schema again.

First, looking at the tables provided. The 'award_data_1972' has columns: Award, Category, Nominee, Result. The 'award_nominations' has Year, Award, Film, Result. The 'award_data' has Year, Award, Category, Nominated_work, Result. So the correct column for the nominee is 'Nominee' in 'award_data_1972'.

The user's question is about the best director in 1972. So I need to find the 'Award' in 'award_data_1972' where the year is 1972, and set the 'Result' to 'best director' and then join or select the relevant fields. But wait, the 'Award' in the 'award_data_1972' table is the same as in the 'award_nominations' table, but the user's question is about the best director, which might be a different award. However, the problem might be that the user is looking for a single record, so perhaps the correct approach is to check if there's a 'Award' in the 'award_data_1972' that matches the best director and the year 1972. But since the error was about the column, maybe the correct query is to select from the correct table where the year is 1972, and the result is 'best director'.

So the corrected SQL query would be SELECT * FROM award_data_1972 WHERE Year = 1972 AND Result = 'best director'; but wait, the user's question is about the nominee, not the result. So maybe the correct approach is to join the tables. Let me think again. The 'nominee' column in 'award_data_1972' would correspond to the nominee's name. So the query should select from award_data_1972 where Year is 1972, and the Result is 'best director'. But the previous error was about the column not existing, so maybe the correct query is to use the correct column names as provided. Therefore, the corrected SQL would be SELECT * FROM award_data_1972 WHERE Year = 1972 AND Result = 'best director';
</think>

SELECT * FROM award_data_1972 WHERE Year = 1972 AND Result = 'best director';
Cleaned SQL Query: SELECT * FROM award_data_1972 WHERE Year = 1972 AND Result = 'best director'
[ERROR] SQL Execution Error (Attempt #3): Statement "SELECT * FROM award_data_1972 WHERE Year = 1972 AND Result = 'best director'" is invalid SQL.
Error: no such column: Year
Failed SQL Query: SELECT * FROM award_data_1972 WHERE Year = 1972 AND Result = 'best director'
[RETRY] Retrying... (Attempt #4/4)
[RETRY] Preparing retry #4
Attempt #2
Original LLM Response: <think>
Okay, let's see. The user wants a corrected SQL query for the 1972 Academy Awards Best Director. First, I need to check the provided schema. Wait, the schema is empty? Oh, the user mentioned the table schema, but there's nothing listed. That's a problem. Maybe the original query had a typo, but without the schema details, I can't proceed. Wait, the user's previous error message says the previous SQL query failed. But the schema isn't provided here. How can I fix the query without knowing the actual table structure? Maybe there's a mistake in the initial setup, but without the schema, I can't write the correct query. Hmm, this is confusing. The user might have included some details, but in the current context, there's no table schema. Maybe there's a missing part here. But according to the instructions, I need to generate a corrected SQL query using the provided schema. Since the schema isn't here, perhaps the user expects me to assume some standard table names. Wait, the problem statement says "Use single quotes for string literals, not double quotes" and "Carefully check that all column names exist in the provided schema". But if the schema is empty, there's no way to check. Maybe there was an error in the initial setup, but without the schema, I can't create the query. This is a contradiction. The user might have provided the schema, but in the current message, it's missing. So perhaps there's a mistake in the message, and the actual schema is present elsewhere. But since I can't access external data, I can't proceed. Wait, maybe the user included the schema in their message, but in the current context, it's not visible. So the answer is that the schema is missing, making it impossible to correct the query. But the user wants a corrected SQL query, so maybe there's an error in the original query, but without the schema, I can't fix it. This is a problem. Maybe I should inform the user that the schema is missing and ask for it. But according to the instructions, I need to return the corrected query. Hmm. Maybe there's a misunderstanding here. Let me re-read the problem statement. The user says, "The previous SQL query failed with an error. Please generate a corrected SQL query. Table Schema: [...]". Then the user mentions that the schema is empty. So perhaps the original query had a missing table or column, but without knowing the schema, I can't fix it. Therefore, the answer is that the schema is missing, making it impossible to correct the query. But the user wants the corrected SQL query. So maybe there's an error in the initial setup, but without the schema, I can't proceed. Therefore, the answer is that the schema is missing, and thus no correction can be made. But the user's instruction says to return the corrected query. Maybe there's a typo in the schema, but I can't verify. This is confusing. Perhaps the user intended to provide the schema, but in the current message, it's missing. So I need to state that. But the user's instructions say not to include explanations or labels. So the final answer is that the schema is missing, making it impossible to correct the query.
</think>

```sql
SELECT * FROM [Best Director 1972] WHERE Year = '1972';
```
Cleaned SQL Query: SELECT * FROM [Best Director 1972] WHERE Year = '1972'
[ERROR] SQL Execution Error (Attempt #2): Statement "SELECT * FROM [Best Director 1972] WHERE Year = '1972'" is invalid SQL.
Error: no such table: Best Director 1972
Failed SQL Query: SELECT * FROM [Best Director 1972] WHERE Year = '1972'
[RETRY] Retrying... (Attempt #3/4)
[RETRY] Preparing retry #3

WorkflowTimeoutError: Operation timed out after 240 seconds

In [40]:
response_2 = await run_text2sql_workflow("What was the term of Pasquale Preziosa?")
print(response_2)

Attempt #1
Original LLM Response: <think>
Okay, let's see. The user is asking for the term of Pasquale Preziosa. I need to figure out which table to use and how to connect it.

First, looking at the schema, there's a table called 'government_ministers' with columns like 'Preceded_by_Alfred_Scott', 'Member_of_Parliament_for_Ashton_under_Lyne_1910_1916', and 'Succeeded_by_Albert_Stanley'. But the user's question is about Pasquale Preziosa, which isn't mentioned in the database. So maybe that's not the right table.

Then there's a table called 'new_municipality_old_municipality_seat' with columns New_municipality, Old_municipalities, and Seat. But again, Pasquale's name isn't there. Wait, maybe there's another table with people's names. The third table is 'people_terms' which has Name, Term_start, Term_end. Oh! The people_terms table has the name, and perhaps their term starts and ends. But the question is specifically about Pasquale's term. So if I can find a connection between Pasquale's name and the people_terms table, maybe by checking if there's a record where the Name is Pasquale Preziosa. But the problem is, the user hasn't provided any data in the tables, so perhaps I need to assume that Pasquale Preziosa is in the people_terms table and that the term is in Term_start or Term_end. Wait, the user's question is phrased as "What was the term of Pasquale Preziosa?" so maybe the answer is looking for the Term_start or Term_end in the people_terms table where the Name is Pasquale Preziosa. But how do I connect the tables?

Wait, maybe there's a mistake in the problem setup? Or perhaps the user expects that Pasquale Preziosa is in the people_terms table. But the problem states that the tables are as provided. So perhaps the correct approach is to select from people_terms where Name is 'Pasquale Preziosa' and look for Term_start or Term_end. But since the user hasn't provided any data, maybe there's an error here. Alternatively, maybe there's a different approach. Wait, the rules say to generate only a valid SQL query, so perhaps the answer is to select Term_start or Term_end from people_terms where the Name is Pasquale Preziosa. But how can I know that?

Alternatively, maybe the 'government_ministers' table has some information. Let's check. The columns in government_ministers are preceded by Alfred Scott, member for Ashton under Lynne 1910-1916, and succeeded by Albert Stanley. But the user is asking about Pasquale Preziosa, who isn't listed. So that table probably isn't the right one. The new_municipality_old_municipality_seat table has seat names, but that's not relevant. The people_terms table is the only one that could have the term data. Unless there's a mistake in the problem, but the user is asking for the query, so perhaps the correct SQL is to select Term_start or Term_end from people_terms where Name is Pasquale Preziosa. So the answer would be SELECT Term_start, Term_end FROM people_terms WHERE Name = 'Pasquale Preziosa'; but since the user wants only a valid SQL query, and there's no other tables, maybe that's the answer. So the final answer is the SQL query to select Term_start or Term_end from people_terms where Name is Pasquale Preziosa.
</think>

SELECT Term_start, Term_end FROM people_terms WHERE Name = 'Pasquale Preziosa';
Cleaned SQL Query: SELECT Term_start, Term_end FROM people_terms WHERE Name = 'Pasquale Preziosa'
[SUCCESS] SQL executed successfully on attempt #1
<think>
Okay, let's see. The user is asking for the term of Pasquale Preziosa based on the SQL query provided. The SQL response gives a list of terms with the name 'Pasquale Preziosa'. The result is [('25 February 2013', 'Incumbent')]. So, the term is 'Incumbent'.

Wait, but how do I present this in a concise way? The user wants the answer from the query results, so I need to state that the term is Incumbent. Make sure to include the date and the role. Also, check if there's any additional information from the SQL response that I missed, but the response seems straightforward. No need to include the score or other metadata. Just the term itself.
</think>

The term associated with Pasquale Preziosa is **Incumbent**.

In [41]:
response_3 = await run_text2sql_workflow("Show me total sales by region")
print(response_3)

Attempt #1
Original LLM Response: <think>
Okay, let's see. The user wants to show total sales by region. The tables involved are chart_positions, district_info, and movie_chart_positions. The question is about regions, so I need to figure out which regions they refer to.

First, looking at the tables, chart_positions has columns like Peak_chart_positions_US, Certifications_sales_thresholds_ (INTEGER), and others. The district_info table has Population, Area_Size_kmÂ²_, and Density_per_kmÂ²_. The movie_chart_positions table has Chart_Positions_UK, Chart_Positions_US, etc.

The user's question is about total sales by region. Since the table schema mentions chart_positions with sales thresholds, and another table with sales thresholds (maybe Certifications_sales_thresholds_?), I need to connect these tables. Wait, in the chart_positions table, there's a column called Certifications_sales_thresholds_ which is an INTEGER. Maybe that's the sales threshold for certifications. But how does that tie into regions?

Wait, the user wants total sales by region. The problem is that the tables don't directly link to regions unless there's a join. But the user provided tables, so maybe there's a way to combine them. Let me check again.

The chart_positions table has Certifications_sales_thresholds_ which might be a sales threshold, but how to get total sales? Maybe the Certifications_sales_thresholds_ is a count or sum of sales. But how to get the regions from that?

Alternatively, maybe the table is structured such that each chart position has a region. But the user wants total sales by region. Wait, the table has columns like Peak_chart_positions_US, which could be the number of chart positions. But the user wants total sales, so perhaps the Certifications_sales_thresholds_ is the sales data. But how to get total sales by region?

Wait, maybe the sales threshold is per region. For example, Certifications_sales_thresholds_ could be the sales threshold for each region. But how to aggregate by region? Maybe there's a join between chart_positions and the district_info table. For example, if each chart position corresponds to a district, then joining by region, and summing the sales threshold for each district. But the user's question is about total sales by region, so perhaps the total sales per region from the chart_positions table, considering the Certifications_sales_thresholds_.

Alternatively, maybe the Certifications_sales_thresholds_ is the total sales, and the regions are the countries. But the problem is that the user's question is about total sales by region, which could be a country, so perhaps the SQL query needs to sum the Certifications_sales_thresholds_ for each region, but how to get the regions from the tables?

Wait, maybe the answer is to join the chart_positions and district_info tables on some column, and then sum the Certifications_sales_thresholds_ by region. But the user's question is in the context of the provided tables, so perhaps there's a way. Let me think again.

The user's question is to show total sales by region. The table 'chart_positions' has Certifications_sales_thresholds_. Maybe that's the sales threshold, and the regions are the countries. But how to get the regions from the tables. Alternatively, perhaps the total sales is the sum of all Certifications_sales_thresholds_ from the chart_positions table, and regions are the countries. But since the user's tables don't directly specify regions, maybe there's a misunderstanding.

Wait, maybe the correct approach is to use the chart_positions table to get the sales data and join it with the district_info table to get the regions. Then sum the sales by region. For example, SELECT SUM(Certifications_sales_thresholds_) FROM chart_positions JOIN district_info ON ... WHERE ... ; but the exact join condition is missing. Since the user's question is about total sales by region, and the tables don't have a region column, perhaps the answer is to sum the Certifications_sales_thresholds_ for each region, but without knowing the regions, maybe there's a mistake here.

Alternatively, maybe the sales threshold is per region, so the query is to sum that for each region. But since the user provided tables, and the question is about regions, perhaps the answer is to use the chart_positions table and sum the Certifications_sales_thresholds_ by joining with district_info on Region or something. But the problem is that the user's tables don't specify regions, so maybe there's an error here. Or perhaps the answer is to use the chart_positions table's columns and sum them, but that doesn't make sense.

Wait, maybe the user made a typo, and the correct columns are different. Or perhaps the answer is to use the chart_positions table and add all the sales thresholds, but that's not matching the question. Alternatively, the answer is to sum the Certifications_sales_thresholds_ for each country, but how to get the countries from the tables.

Alternatively, maybe the user wants to sum all sales from all chart positions, but that doesn't make sense. I'm confused. Let me check the example format. The example given is SELECT column_name FROM table_name WHERE condition. So the user wants to select total sales by region. Since there's no region column, maybe the answer is to sum all Certifications_sales_thresholds_ from chart_positions, but that would be a single value, not per region. Therefore, there's a problem here.

Wait, perhaps the user intended to use the movie_chart_positions table, but that's for movies. Alternatively, maybe the answer is to sum all the sales from the chart_positions table. But how to get the regions? Maybe the regions are the countries, so the query is to sum the Certifications_sales_thresholds_ for each country. But how to get the countries? Maybe the chart_positions table has a column that identifies the region, but it's not named here.

Alternatively, perhaps the answer is to use the chart_positions table and sum the Certifications_sales_thresholds_ by joining with district_info on some column, but without knowing the columns, I can't proceed. Since the user's tables don't specify regions, maybe there's a mistake in the problem setup. But the user insists on generating a valid SQL query using the given schema.

Wait, perhaps the Certifications_sales_thresholds_ is the total sales, and the regions are the countries. But how to get the regions from the tables. Maybe the answer is to use the chart_positions table and sum the sales threshold, but that's a single value. Therefore, perhaps there's a misunderstanding in the problem. But since the user requires a valid SQL query, maybe the intended answer is to sum all the sales thresholds from chart_positions, but that doesn't make sense.

Alternatively, maybe the answer is to join the chart_positions and district_info tables on the same column, and then sum the Certifications_sales_thresholds_ by region. But without knowing the join condition, I can't write that. Since the problem is presented as a table, perhaps the correct approach is to assume that the regions are the countries, and the query is to sum the sales thresholds. But that would be a single value. Therefore, perhaps there's a mistake in the problem setup, but since I have to generate a query, maybe I need to proceed.

Wait, the user's example uses a column from a table. Maybe the answer is to sum the Certifications_sales_thresholds_ from chart_positions, but that's not per region. Unless the threshold is per region, but how to get that.

Alternatively, maybe the answer is to use the movie_chart_positions table and sum the Chart_Positions_UK, Chart_Positions_US, etc. But the user's question is about total sales by region.

I think I'm stuck here. Maybe the correct approach is to use the chart_positions table and sum the Certifications_sales_thresholds_ for each region. But how to do that. Since there's no region column, perhaps there's a mistake. But since the user requires a query, maybe the answer is to select SUM(Certifications_sales_thresholds_) from chart_positions, but that's not per region.

Wait, perhaps the user wants to show the total sales by country, and the chart_positions table has a column that represents the country. But in the given schema, there's no country column. Therefore, the problem may have errors, but the user expects an answer.

Given that, maybe the correct SQL query is to sum the Certifications_sales_thresholds_ from chart_positions, but without specifying regions. But that would be incorrect. Alternatively, perhaps the answer is to join the chart_positions table with district_info on some column, like Region, and then sum the sales. But since there's no Region column, I can't proceed.

I think the problem is that there's a mistake in the schema, and the user expects a query that uses the available columns, even if they don't directly relate to regions. However, given the information, I can only provide a query that selects the Certifications_sales_thresholds_ from chart_positions, which would be a single value, not per region. But since the user's example shows selecting a column, perhaps the intended answer is to sum all the sales thresholds. But that's not a valid query for a region-based total. Therefore, I must conclude that there's an error in the problem setup, but the user requires a query, so I'll proceed with the best possible answer based on available information.
</think>

SELECT SUM(Certifications_sales_thresholds_) FROM chart_positions;
Cleaned SQL Query: SELECT SUM(Certifications_sales_thresholds_) FROM chart_positions
[SUCCESS] SQL executed successfully on attempt #1
<think>
Okay, let's see. The user wants to know the total sales by region from the given SQL query. The SQL query is SELECT SUM(Certifications_sales_thresholds_) FROM chart_positions. The response from the SQL is a node with a score, and the result is [(None,)].

Hmm, so the SQL is trying to sum up the Certifications_sales_thresholds_ column from the chart_positions table. But the result is just a list of tuples with None, which might mean that the query didn't return any rows or that there's a problem. The score is missing, but maybe it's indicating that the query didn't find any data.

Wait, the user's question is about total sales by region, but the SQL is summing a specific column. Maybe the chart_positions table has data, but when we run the query, it's not showing up. Or perhaps there's a typo or a mistake in the query. The result is [(None,)], which suggests that the query didn't return any sales figures. So the answer would be that there's no data available to calculate the total sales by region based on the current query execution.

Alternatively, maybe there's a misunderstanding. If the query is correct, but the data isn't available, the response should clarify that. The user's question is straightforward, so the answer should state that there's no information provided to answer the query, or that the data isn't available. The SQL response is a node indicating the query's result, but without any content, it's just a list of tuples, so the answer is that there's no sales data to show.
</think>

The SQL query executed successfully but returned an empty result. There is no available data to calculate the total sales by region. The query's result was represented as `[(None,)]`, indicating no sales figures were found in the `chart_positions` table.

# FINAL SCORE: 2/4 

## Problem: Column names aren't getting specified properly

## 2. Advanced Capability 2: Text-to-SQL with Query-Time Row Retrieval (along with Table Retrieval)

One problem in the previous example is that if the user asks a query that asks for "The Notorious BIG" but the artist is stored as "The Notorious B.I.G", then the generated SELECT statement will likely not return any matches.

We can alleviate this problem by fetching a small number of example rows per table. A naive option would be to just take the first k rows. Instead, we embed, index, and retrieve k relevant rows given the user query to give the text-to-SQL LLM the most contextually relevant information for SQL generation.

We now extend our query pipeline.

In [ ]:
from llama_index.query_pipeline import QueryPipeline as QP
from llama_index.service_context import ServiceContext

qp = QP(verbose=True)
# NOTE: service context will be deprecated in v0.10 (though will still be backwards compatible)
service_context = ServiceContext.from_defaults(callback_manager=qp.callback_manager)

### Index Each Table

We embed/index the rows of each table, resulting in one index per table.

In [ ]:
from llama_index import VectorStoreIndex, load_index_from_storage
from sqlalchemy import text
from llama_index.schema import TextNode
from llama_index.storage import StorageContext
import os
from pathlib import Path
from typing import Dict


def index_all_tables(
    sql_database: SQLDatabase, table_index_dir: str = "table_index_dir"
) -> Dict[str, VectorStoreIndex]:
    """Index all tables."""
    if not Path(table_index_dir).exists():
        os.makedirs(table_index_dir)

    vector_index_dict = {}
    engine = sql_database.engine
    for table_name in sql_database.get_usable_table_names():
        print(f"Indexing rows in table: {table_name}")
        if not os.path.exists(f"{table_index_dir}/{table_name}"):
            # get all rows from table
            with engine.connect() as conn:
                cursor = conn.execute(text(f'SELECT * FROM "{table_name}"'))
                result = cursor.fetchall()
                row_tups = []
                for row in result:
                    row_tups.append(tuple(row))

            # index each row, put into vector store index
            nodes = [TextNode(text=str(t)) for t in row_tups]

            # put into vector store index (use OpenAIEmbeddings by default)
            index = VectorStoreIndex(nodes, service_context=service_context)

            # save index
            index.set_index_id("vector_index")
            index.storage_context.persist(f"{table_index_dir}/{table_name}")
        else:
            # rebuild storage context
            storage_context = StorageContext.from_defaults(
                persist_dir=f"{table_index_dir}/{table_name}"
            )
            # load index
            index = load_index_from_storage(
                storage_context, index_id="vector_index", service_context=service_context
            )
        vector_index_dict[table_name] = index

    return vector_index_dict


vector_index_dict = index_all_tables(sql_database)

Indexing rows in table: Academy_Awards_1972
Indexing rows in table: Actress_Awards
Indexing rows in table: Actress_Awards_Table
Indexing rows in table: Actress_Filmography
Indexing rows in table: Afrikaans_Language_Translations
Indexing rows in table: Airport_Information
Indexing rows in table: Average_Temperature_Precipitation
Indexing rows in table: Average_Temperature_and_Precipitation
Indexing rows in table: BBC_Radio_Costs
Indexing rows in table: Bad_Boy_Artists
Indexing rows in table: Boxing_Matches
Indexing rows in table: Club_Performance_Norway
Indexing rows in table: Disappeared_Persons
Indexing rows in table: Drop Events
Indexing rows in table: European_Football_Standings
Indexing rows in table: Football_Team_Records
Indexing rows in table: Gortynia_Municipalities
Indexing rows in table: Grammy_Awards
Indexing rows in table: Italian_Presidents
Indexing rows in table: Kentucky_Derby_Winners
Indexing rows in table: Kinase_Cancer_Relationships
Indexing rows in table: Kodachrome_Film
Indexing rows in table: New_Mexico_Officials
Indexing rows in table: Number_Encoding_Probability
Indexing rows in table: Peak_Chart_Positions
Indexing rows in table: Political Positions of Lord Beaverbrook
Indexing rows in table: Radio_Stations
Indexing rows in table: Renaissance_Discography
Indexing rows in table: Schools_in_Ohio
Indexing rows in table: Temperature_and_Precipitation
Indexing rows in table: Voter_Party_Statistics
Indexing rows in table: Voter_Registration_Statistics
Indexing rows in table: Yamato_District_Area_Population
Indexing rows in table: Yearly_Deaths_and_Accidents

In [ ]:
test_retriever = vector_index_dict["Bad_Boy_Artists"].as_retriever(
    similarity_top_k=1
)
nodes = test_retriever.retrieve("P. Diddy")
print(nodes[0].get_content())

('Diddy', 1993, '6')

### Define Expanded Table Parser Component

We expand the capability of our `table_parser_component` to not only return the relevant table schemas, but also return relevant rows per table schema.

It now takes in both `table_schema_objs` (output of table retriever), but also the original `query_str` which will then be used for vector retrieval of relevant rows.

In [ ]:
from llama_index.retrievers import SQLRetriever
from typing import List
from llama_index.query_pipeline import FnComponent

sql_retriever = SQLRetriever(sql_database)


def get_table_context_and_rows_str(
    query_str: str, table_schema_objs: List[SQLTableSchema]
):
    """Get table context string."""
    context_strs = []
    for table_schema_obj in table_schema_objs:
        # first append table info + additional context
        table_info = sql_database.get_single_table_info(
            table_schema_obj.table_name
        )
        if table_schema_obj.context_str:
            table_opt_context = " The table description is: "
            table_opt_context += table_schema_obj.context_str
            table_info += table_opt_context

        # also lookup vector index to return relevant table rows
        vector_retriever = vector_index_dict[
            table_schema_obj.table_name
        ].as_retriever(similarity_top_k=2)
        relevant_nodes = vector_retriever.retrieve(query_str)
        if len(relevant_nodes) > 0:
            table_row_context = "\nHere are some relevant example rows (values in the same order as columns above)\n"
            for node in relevant_nodes:
                table_row_context += str(node.get_content()) + "\n"
            table_info += table_row_context

        context_strs.append(table_info)
    return "\n\n".join(context_strs)


table_parser_component = FnComponent(fn=get_table_context_and_rows_str)

### Define Expanded Query Pipeline

This looks similar to the query pipeline in section 1, but with an upgraded table_parser_component.

In [ ]:
from llama_index.query_pipeline import (
    QueryPipeline as QP,
    Link,
    InputComponent,
    CustomQueryComponent,
)

qp.add_modules({
    "input": InputComponent(),
    "table_retriever": obj_retriever,
    "table_output_parser": table_parser_component,
    "text2sql_prompt": text2sql_prompt,
    "text2sql_llm": llm,
    "sql_output_parser": sql_parser_component,
    "sql_retriever": sql_retriever,
    "response_synthesis_prompt": response_synthesis_prompt,
    "response_synthesis_llm": llm,
})

In [ ]:
qp.add_link("input", "table_retriever")
qp.add_link("input", "table_output_parser", dest_key="query_str")
qp.add_link(
    "table_retriever", "table_output_parser", dest_key="table_schema_objs"
)
qp.add_link("input", "text2sql_prompt", dest_key="query_str")
qp.add_link("table_output_parser", "text2sql_prompt", dest_key="schema")
qp.add_chain(
    ["text2sql_prompt", "text2sql_llm", "sql_output_parser", "sql_retriever"]
)
qp.add_link(
    "sql_output_parser", "response_synthesis_prompt", dest_key="sql_query"
)
qp.add_link(
    "sql_retriever", "response_synthesis_prompt", dest_key="context_str"
)
qp.add_link("input", "response_synthesis_prompt", dest_key="query_str")
qp.add_link("response_synthesis_prompt", "response_synthesis_llm")

In [ ]:
from pyvis.network import Network

net = Network(notebook=True, cdn_resources="in_line", directed=True)
net.from_nx(qp.dag)
net.show("text2sql_dag.html")

text2sql_dag.html

### Run Some Queries

We can now ask about relevant entries even if it doesn't exactly match the entry in the database.

In [ ]:
response = qp.run(
    query="What was the year that The Notorious BIG was signed to Bad Boy?"
)
print(str(response))

> Running module input with input:
query: What was the year that The Notorious BIG was signed to Bad Boy?

> Running module table_retriever with input:
input: What was the year that The Notorious BIG was signed to Bad Boy?

> Running module table_output_parser with input:
query_str: What was the year that The Notorious BIG was signed to Bad Boy?
table_schema_objs: [SQLTableSchema(table_name='Bad_Boy_Artists', context_str='List of artists signed to Bad Boy Records and their album releases'), SQLTableSchema(table_name='Football_Team_Records', context_str='Summary...

> Running module text2sql_prompt with input:
query_str: What was the year that The Notorious BIG was signed to Bad Boy?
schema: Table 'Bad_Boy_Artists' has columns: Act (VARCHAR), Year_signed (INTEGER), _Albums_released_under_Bad_Boy (VARCHAR), and foreign keys: . The table description is: List of artists signed to Bad Boy Rec...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT Year_signed
FROM Bad_Boy_Artists
WHERE Act = 'The Notorious B.I.G'
SQLResult: 1993
Answer: The Notorious BIG was signed to Bad Boy in 1993.

> Running module sql_retriever with input:
input: SELECT Year_signed
FROM Bad_Boy_Artists
WHERE Act = 'The Notorious B.I.G'

> Running module response_synthesis_prompt with input:
query_str: What was the year that The Notorious BIG was signed to Bad Boy?
sql_query: SELECT Year_signed
FROM Bad_Boy_Artists
WHERE Act = 'The Notorious B.I.G'
context_str: [NodeWithScore(node=TextNode(id_='07dd2198-9ce8-427c-8715-3c5278f6af47', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(1993,)]'...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: What was the year that The Notorious BIG was signed to Bad Boy?
SQL: SELECT Year_signed
FROM Bad_Boy_Artists
WHERE Act = '...

assistant: The Notorious BIG was signed to Bad Boy in 1993.