# Query Pipeline for Advanced Text-to-SQL

In this guide we show you how to setup a text-to-SQL pipeline over your data with our [query pipeline](https://docs.llamaindex.ai/en/stable/module_guides/querying/pipeline/root.html) syntax.

This gives you flexibility to enhance text-to-SQL with additional techniques. We show these in the below sections:
1. **Query-Time Table Retrieval**: Dynamically retrieve relevant tables in the text-to-SQL prompt.
2. **Query-Time Sample Row retrieval**: Embed/Index each row, and dynamically retrieve example rows for each table in the text-to-SQL prompt.

Our out-of-the box pipelines include our `NLSQLTableQueryEngine` and `SQLTableRetrieverQueryEngine`. (if you want to check out our text-to-SQL guide using these modules, take a look [here](https://docs.llamaindex.ai/en/stable/examples/index_structs/struct_indices/SQLIndexDemo.html)). This guide implements an advanced version of those modules, giving you the utmost flexibility to apply this to your own setting.

## Load and Ingest Data


### Load Data
We use the [WikiTableQuestions dataset](https://ppasupat.github.io/WikiTableQuestions/) (Pasupat and Liang 2015) as our test dataset.

We go through all the csv's in one folder, store each in a sqlite database (we will then build an object index over each table schema).

In [1]:
import io
import os
import time
import re
import requests
import zipfile
import json
import json as pyjson

import pandas as pd
from pathlib import Path
from typing import List

from pydantic import BaseModel, Field

from llama_index.core import Settings
from llama_index.core.program import LLMTextCompletionProgram
from llama_index.llms.ollama import Ollama

# put data into sqlite db
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
)

# setup Arize Phoenix for logging/observability
import phoenix as px
from llama_index.core import set_global_handler

from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core import SQLDatabase, VectorStoreIndex
from llama_index.embeddings.huggingface import HuggingFaceEmbedding

from llama_index.core.retrievers import SQLRetriever

from llama_index.core.prompts.default_prompts import DEFAULT_TEXT_TO_SQL_PROMPT
from llama_index.core.prompts import PromptTemplate
from llama_index.core.tools import FunctionTool
from llama_index.core.llms import ChatResponse

from llama_index.core.workflow import Workflow, step, StartEvent, StopEvent
from llama_index.core.workflow.events import Event

# import networkx as nx
# from pyvis.network import Network

from llama_index.utils.workflow import (
    draw_all_possible_flows,
    draw_most_recent_execution,
)

c:\Users\Hp\Documents\GitHub\rag_text-2-sql\rag\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
URL = "https://github.com/ppasupat/WikiTableQuestions/releases/download/v1.0.2/WikiTableQuestions-1.0.2-compact.zip"

OUTPUT_DIR = "../data"
os.makedirs(OUTPUT_DIR, exist_ok=True)

print("Downloading...")
response = requests.get(URL)
response.raise_for_status()

print("Extracting...")
with zipfile.ZipFile(io.BytesIO(response.content)) as z:
    z.extractall(OUTPUT_DIR)

print("Done.")

Downloading...
Extracting...
Done.

In [53]:
DATA_DIR = Path("../data/WikiTableQuestions/csv/200-csv")
CSV_FILES = sorted([f for f in DATA_DIR.glob("*.csv")])
dfs = []

for csv_file in CSV_FILES:
    print(f"processing file: {csv_file}")
    try:
        df = pd.read_csv(csv_file)
        dfs.append(df)
    except Exception as e:
        print(f"Error parsing {csv_file}: {str(e)}")

processing file: ..\data\WikiTableQuestions\csv\200-csv\0.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\1.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\10.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\11.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\12.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\14.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\15.csv
Error parsing ..\data\WikiTableQuestions\csv\200-csv\15.csv: Error tokenizing data. C error: Expected 4 fields in line 16, saw 5

processing file: ..\data\WikiTableQuestions\csv\200-csv\17.csv
Error parsing ..\data\WikiTableQuestions\csv\200-csv\17.csv: Error tokenizing data. C error: Expected 6 fields in line 5, saw 7

processing file: ..\data\WikiTableQuestions\csv\200-csv\18.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\20.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\22.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\24.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\25.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\26.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\28.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\29.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\3.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\30.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\31.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\32.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\33.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\34.csv
Error parsing ..\data\WikiTableQuestions\csv\200-csv\34.csv: Error tokenizing data. C error: Expected 4 fields in line 6, saw 13

processing file: ..\data\WikiTableQuestions\csv\200-csv\35.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\36.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\37.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\38.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\4.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\41.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\42.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\44.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\45.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\46.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\47.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\48.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\7.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\8.csv
processing file: ..\data\WikiTableQuestions\csv\200-csv\9.csv

### Extract Table Name and Summary from each Table

Here we use gpt-3.5 to extract a table name (with underscores) and summary from each table with our Pydantic program.

In [54]:
TABLEINFO_DIR = "../data/WikiTableQuestions_TableInfo"
os.makedirs(TABLEINFO_DIR, exist_ok=True)

In [55]:
class TableInfo(BaseModel):
    """Information regarding a structured table."""

    table_name: str = Field(
        ..., description="table name (must be underscores and NO spaces)"
    )
    table_summary: str = Field(
        ..., description="short, concise summary/caption of the table"
    )

PROMPT_STR = """\
    Return only a JSON object, with no explanation, no prose, no markdown, and no trailing text.
    You are to produce **only** a JSON object matching the following exact schema:

    {
        "table_name": "<short_name_in_snake_case_without_spaces>",
        "table_summary": "<short concise caption of the table>"
    }

    Example:
    {"table_name": "movie_info", "table_summary": "Summary of movie data"}

    Rules:
    - The table_name must be unique to the table, describe it clearly, and be in snake_case.
    - Do NOT output a generic table name (e.g., "table", "my_table").
    - Do NOT make the table name one of the following: {exclude_table_name_list}.
    - Do NOT include any keys other than "table_name" and "table_summary".
    - Do NOT include extra text before/after the JSON.
    - Do NOT include any other keys or text before/after the JSON.
    - Do NOT wrap in ```json.

    Table:
    {table_str}
"""

Settings.llm = Ollama(
    model="qwen3:0.6b", 
    request_timeout=240,
    format="json",
    # context_window=1000
)

program = LLMTextCompletionProgram.from_defaults(
    output_cls=TableInfo,
    prompt_template_str=PROMPT_STR,
    llm=Settings.llm,
    # verbose=True,
)

In [56]:
def extract_first_json_block(text: str):
    match = re.search(r"\{.*\}", text, re.S)  # grab first {...} block
    if not match:
        raise ValueError("No JSON object found in output")
    return pyjson.loads(match.group())


MAX_RETRIES = 3


def _get_tableinfo_with_index(idx: int) -> str:
    results_gen = Path(TABLEINFO_DIR).glob(f"{idx}_*")
    results_list = list(results_gen)
    
    if len(results_list) == 0:
        return None
    elif len(results_list) == 1:
        path = results_list[0]
        json_str = path.read_text(encoding="utf-8")
        return TableInfo.model_validate_json(json_str)
    else:
        raise ValueError(f"More than one file matching index: {list(results_gen)}")

In [57]:
table_names = set()
table_infos = []

for idx, df in enumerate(dfs):
    table_info = _get_tableinfo_with_index(idx)
    if table_info:
        table_infos.append(table_info)
        continue

    df_str = df.head(10).to_csv()

    for attempt in range(MAX_RETRIES):
        try:
            raw_output = program(
                table_str=df_str,
                exclude_table_name_list=str(list(table_names)),
            )

            if isinstance(raw_output, TableInfo):
                table_info = raw_output
            elif isinstance(raw_output, dict):
                table_info = TableInfo(**raw_output)
            elif isinstance(raw_output, str):
                parsed_dict = extract_first_json_block(raw_output)
                table_info = TableInfo(**parsed_dict)
            else:
                raise TypeError(f"Unexpected return type from program(): {type(raw_output)}")

            table_name = table_info.table_name
            print(f"Processed table: {table_name}")

            if table_name in table_names:
                print(f"Table name '{table_name}' already exists, skipping this table.")
                table_info = None  # donâ€™t append duplicate
                break  # skip

            # save table info
            table_names.add(table_name)
            out_file = f"{TABLEINFO_DIR}/{idx}_{table_name}.json"
            json.dump(table_info.model_dump(), open(out_file, "w"))
            break  # move to next table

        except Exception as e:
            print(f"Error with attempt {attempt+1}: {e}")
            time.sleep(2)

    if table_info:
        table_infos.append(table_info)

To retry for a single index (in needed)

In [ ]:
# idx = 20
# df = dfs[idx]

# table_info = _get_tableinfo_with_index(idx)
# if table_info:
#     table_infos.append(table_info)
# else:
#     df_str = df.head(20).to_csv()

#     for attempt in range(MAX_RETRIES):
#         try:
#             raw_output = program(
#                 table_str=df_str,
#                 exclude_table_name_list=str(list(table_names)),
#             )

#             if isinstance(raw_output, TableInfo):
#                 table_info = raw_output
#             elif isinstance(raw_output, dict):
#                 table_info = TableInfo(**raw_output)
#             elif isinstance(raw_output, str):
#                 parsed_dict = extract_first_json_block(raw_output)
#                 table_info = TableInfo(**parsed_dict)
#             else:
#                 raise TypeError(f"Unexpected return type from program(): {type(raw_output)}")

#             table_name = table_info.table_name
#             print(f"Processed table: {table_name}")

#             if table_name in table_names:
#                 print(f"Table name '{table_name}' already exists, skipping this table.")
#                 table_info = None
#                 break

#             table_names.add(table_name)
#             out_file = f"{TABLEINFO_DIR}/{idx}_{table_name}.json"
#             json.dump(table_info.model_dump(), open(out_file, "w"))
#             break

#         except Exception as e:
#             print(f"Error with attempt {attempt+1}: {e}")
#             time.sleep(2)

#     if table_info:
#         table_infos.append(table_info)

Error with attempt 1: 1 validation error for TableInfo
  Invalid JSON: trailing characters at line 1 column 97 [type=json_invalid, input_value='{"table_name": "award_in...n the specified table"}', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/json_invalid
Processed table: award_nominations

### Put Data in SQL Database

We use `sqlalchemy`, a popular SQL database toolkit, to load all the tables.

In [58]:
# Function to create a sanitized column name
def sanitize_column_name(col_name):
    # Remove special characters and replace spaces with underscores
    return re.sub(r"\W+", "_", col_name)


# Function to create a table from a DataFrame using SQLAlchemy
def create_table_from_dataframe(
    df: pd.DataFrame, table_name: str, engine, metadata_obj
):
    # Sanitize column names
    sanitized_columns = {col: sanitize_column_name(col) for col in df.columns}
    df = df.rename(columns=sanitized_columns)

    # Dynamically create columns based on DataFrame columns and data types
    columns = [
        Column(col, String if dtype == "object" else Integer)
        for col, dtype in zip(df.columns, df.dtypes)
    ]

    # Create a table with the defined columns
    table = Table(table_name, metadata_obj, *columns)

    # Create the table in the database
    metadata_obj.create_all(engine)

    # Insert data from DataFrame into the table
    with engine.connect() as conn:
        for _, row in df.iterrows():
            insert_stmt = table.insert().values(**row.to_dict())
            conn.execute(insert_stmt)
        conn.commit()


engine = create_engine("sqlite:///:memory:")
metadata_obj = MetaData()
for idx, df in enumerate(dfs):
    tableinfo = _get_tableinfo_with_index(idx)
    if tableinfo is None:
        print(f"[ERROR] No TableInfo for index {idx}")
        continue  # skip this one or handle it differently
    print(f"Creating table: {tableinfo.table_name}")
    create_table_from_dataframe(df, tableinfo.table_name, engine, metadata_obj)

Creating table: movie_chart_positions
Creating table: movie_data
Creating table: death_accident_statistics
Creating table: award_data_1972
Creating table: award_data
Creating table: people_info
Creating table: broadcasting_info
Creating table: person_info
Creating table: chart_positions
Creating table: kodachrome_film_info
Creating table: bbc_radio_costs
Creating table: airport_locations
Creating table: party_voters
Creating table: club_performance
Creating table: horse_race_data
Creating table: grammy_awards
Creating table: boxing_matches
Creating table: sports_performance_data
Creating table: district_info
Creating table: party_data
Creating table: award_nominations
Creating table: government_ministers
Creating table: new_municipality_old_municipality_seat
Creating table: team_performance
Creating table: encoding_info
Creating table: temperature_data
Creating table: people_terms
Creating table: new_mexico_governorships
Creating table: weather_statistics
Creating table: drop_event_data
Creating table: precipitation_data
Creating table: afrikaans_language_usage
Creating table:  ohio_districts
Creating table: gene_functions

In [59]:
px.launch_app()
set_global_handler("arize_phoenix")

Existing running Phoenix instance detected! Shutting it down and starting a new instance...
Attempting to instrument while already instrumented

ðŸŒ To view the Phoenix app in your browser, visit http://localhost:6006/
ðŸ“– For more information on how to use Phoenix, check out https://arize.com/docs/phoenix

## Advanced Capability 1: Text-to-SQL with Query-Time Table Retrieval.

We now show you how to setup an e2e text-to-SQL with table retrieval.

### Define Modules

Here we define the core modules.
1. Object index + retriever to store table schemas
2. SQLDatabase object to connect to the above tables + SQLRetriever.
3. Text-to-SQL Prompt
4. Response synthesis Prompt
5. LLM

Object index, retriever, SQLDatabase

In [60]:
embed_model = HuggingFaceEmbedding(model_name="sentence-transformers/all-MiniLM-L6-v2")

sql_database = SQLDatabase(engine)
table_node_mapping = SQLTableNodeMapping(sql_database)

table_schema_objs = [
    SQLTableSchema(table_name=t.table_name, context_str=t.table_summary)
    for t in table_infos
]  # add a SQLTableSchema for each table

obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,
    embed_model=embed_model,
)
obj_retriever = obj_index.as_retriever(similarity_top_k=5)

SQLRetriever + Table Parser

In [61]:
sql_retriever = SQLRetriever(sql_database)


def get_table_context_str(table_schema_objs: List[SQLTableSchema]):
    """Get table context string."""
    context_strs = []
    for table_schema_obj in table_schema_objs:
        table_info = sql_database.get_single_table_info(
            table_schema_obj.table_name
        )
        if table_schema_obj.context_str:
            table_opt_context = " The table description is: "
            table_opt_context += table_schema_obj.context_str
            table_info += table_opt_context

        context_strs.append(table_info)
    return "\n\n".join(context_strs)


table_parser_component = get_table_context_str(table_schema_objs)

Text-to-SQL Prompt + Output Parser

In [ ]:
def parse_response_to_sql(response: ChatResponse) -> str:
    """Parse response to SQL."""
    response = response.message.content
    sql_query_start = response.find("SQLQuery:")
    if sql_query_start != -1:
        response = response[sql_query_start:]
        
        if response.startswith("SQLQuery:"):
            response = response[len("SQLQuery:") :]
    sql_result_start = response.find("SQLResult:")
    if sql_result_start != -1:
        response = response[:sql_result_start]
    return response.strip().strip("```").strip()


sql_parser_component = FunctionTool.from_defaults(fn=parse_response_to_sql)

text2sql_prompt = DEFAULT_TEXT_TO_SQL_PROMPT.partial_format(
    dialect=engine.dialect.name
)
print(text2sql_prompt.template)

Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
{schema}

Question: {query_str}
SQLQuery:

Response Synthesis Prompt

In [63]:
response_synthesis_prompt_str = (
    "Given an input question, synthesize a response from the query results.\n"
    "Query: {query_str}\n"
    "SQL: {sql_query}\n"
    "SQL Response: {context_str}\n"
    "Response: "
)
response_synthesis_prompt = PromptTemplate(
    response_synthesis_prompt_str,
)

### Define Workflow

Now that the components are in place, let's define the query pipeline!

In [ ]:
# # custom events
# class TableRetrievedEvent(Event):
#     tables: list
#     query_str: str

# class SchemaProcessedEvent(Event):
#     table_schema: str
#     query_str: str

# class SQLPromptReadyEvent(Event):
#     t2s_prompt: str
#     query_str: str
#     table_schema: str

# class SQLGeneratedEvent(Event):
#     sql_query: str
#     query_str: str
#     table_schema: str

# class SQLParsedEvent(Event):
#     sql_query: str
#     query_str: str
#     table_schema: str

# class SQLResultsEvent(Event):
#     context_str: str
#     sql_query: str
#     query_str: str

# class ResponsePromptReadyEvent(Event):
#     rs_prompt: str


# def extract_sql_from_response(llm_response: str) -> str:
#     """
#     Extract SQL query from LLM response that might contain reasoning or formatting.
#     """
#     response = llm_response.strip()
    
#     # First, remove <think> blocks entirely
#     response = re.sub(r'<think>.*?</think>', '', response, flags=re.DOTALL).strip()
    
#     # Method 1: Look for SQLQuery: pattern
#     sql_query_match = re.search(r'SQLQuery:\s*([^;]+;?)', response, re.IGNORECASE | re.DOTALL)
#     if sql_query_match:
#         sql = sql_query_match.group(1).strip()
#         return clean_sql_query(sql)
    
#     # Method 2: Look for SQL in code blocks
#     code_block_match = re.search(r'```sql\s*\n(.*?)\n```', response, re.IGNORECASE | re.DOTALL)
#     if code_block_match:
#         sql = code_block_match.group(1).strip()
#         return clean_sql_query(sql)
    
#     # Method 3: Look for standalone SQL statements (most common case)
#     sql_keywords = ['SELECT', 'INSERT', 'UPDATE', 'DELETE', 'WITH']
    
#     # Split by lines and look for SQL statements
#     lines = response.split('\n')
#     for line in lines:
#         line = line.strip()
#         if not line:
#             continue
            
#         # Check if line starts with SQL keyword
#         if any(line.upper().startswith(keyword.upper()) for keyword in sql_keywords):
#             return clean_sql_query(line)
    
#     # Method 4: Look for multi-line SQL statements
#     for keyword in sql_keywords:
#         pattern = rf'\b{keyword}\b.*?(?=\n\s*\n|\nSQLResult|\nAnswer|$)'
#         sql_match = re.search(pattern, response, re.IGNORECASE | re.DOTALL)
#         if sql_match:
#             sql = sql_match.group(0).strip()
#             return clean_sql_query(sql)
    
#     # Fallback: if nothing found, return empty string to avoid errors
#     print(f"Warning: Could not extract SQL from response: {response[:100]}...")
#     return "SELECT 1"  # Safe fallback query


# def clean_sql_query(sql: str) -> str:
#     """
#     Clean and standardize SQL query.
#     """
#     if not sql:
#         return "SELECT 1"
    
#     # Remove extra whitespace
#     sql = ' '.join(sql.split())
    
#     # Fix quote issues - convert double quotes to single quotes for string literals
#     # This is a simple approach - for more complex cases, you'd need a proper SQL parser
#     sql = re.sub(r'"([^"]*)"', r"'\1'", sql)
    
#     # Remove multiple semicolons
#     sql = re.sub(r';+', ';', sql)
    
#     # Remove trailing semicolon and add it back cleanly
#     sql = sql.rstrip(';').strip()
    
#     # Don't add semicolon for now since it might be causing issues
#     return sql


# class Text2SQLWorkflow(Workflow):
    
#     @step
#     async def input_step(self, ev: StartEvent) -> TableRetrievedEvent:
#         """Process the initial query and retrieve relevant tables"""
#         query = ev.query
        
#         # Retrieve table schemas (you'll need to define obj_retriever)
#         table_schema_objs = obj_retriever.retrieve(query)
        
#         return TableRetrievedEvent(
#             tables=table_schema_objs,
#             query_str=query
#         )
    
#     @step
#     async def table_output_parser_step(self, ev: TableRetrievedEvent) -> SchemaProcessedEvent:
#         """Parse table schemas into string format"""
#         # You'll need to define get_table_context_str function
#         schema_str = get_table_context_str(ev.tables)
        
#         return SchemaProcessedEvent(
#             table_schema=schema_str,
#             query_str=ev.query_str
#         )
    
#     @step
#     async def text2sql_prompt_step(self, ev: SchemaProcessedEvent) -> SQLPromptReadyEvent:
#         """Create the text-to-SQL prompt"""
#         # Enhanced prompt to ensure clean SQL output
#         ENHANCED_PROMPT = f"""
#             Given the following table schema and user question, generate a SQL query.

#             Table Schema:
#             {ev.table_schema}

#             User Question: {ev.query_str}

#             Instructions:
#             1. Generate ONLY a valid SQL query
#             2. Do not include any explanations, reasoning, or additional text
#             3. Do not include SQLQuery:, SQLResult:, or Answer: labels
#             4. Do not wrap in code blocks or other formatting
#             5. End the query with a semicolon

#             SQL Query:
#         """
        
#         # If you have a custom text2sql_prompt, use it instead
#         # prompt = text2sql_prompt.format(
#         #     query_str=ev.query_str,
#         #     table_schema=ev.table_schema
#         # )
        
#         return SQLPromptReadyEvent(
#             t2s_prompt=ENHANCED_PROMPT,
#             query_str=ev.query_str,
#             table_schema=ev.table_schema
#         )
    
#     @step
#     async def text2sql_llm_step(self, ev: SQLPromptReadyEvent) -> SQLGeneratedEvent:
#         """Generate SQL query using LLM"""
#         # You'll need to configure Settings.llm
#         sql_response = await Settings.llm.acomplete(ev.t2s_prompt)
        
#         return SQLGeneratedEvent(
#             sql_query=str(sql_response).strip(),
#             query_str=ev.query_str,
#             table_schema=ev.table_schema
#         )
    
#     @step
#     async def sql_output_parser_step(self, ev: SQLGeneratedEvent) -> SQLParsedEvent:
#         """Parse and clean the generated SQL query"""
#         # Extract clean SQL from the LLM response
#         clean_sql = extract_sql_from_response(ev.sql_query)
        
#         print(f"Original LLM Response: {ev.sql_query}")
#         print(f"Cleaned SQL Query: {clean_sql}")
        
#         # Validate that we have a reasonable SQL query
#         if not clean_sql or clean_sql == "SELECT 1":
#             print("Warning: Could not extract valid SQL, using fallback")
        
#         return SQLParsedEvent(
#             sql_query=clean_sql,
#             query_str=ev.query_str,
#             table_schema=ev.table_schema
#         )
    
#     @step
#     async def sql_retriever_step(self, ev: SQLParsedEvent) -> SQLResultsEvent:
#         """Execute SQL query and get results"""
#         try:
#             # You'll need to define sql_retriever
#             results = sql_retriever.retrieve(ev.sql_query)
            
#             return SQLResultsEvent(
#                 context_str=str(results),
#                 sql_query=ev.sql_query,
#                 query_str=ev.query_str
#             )
#         except Exception as e:
#             print(f"SQL Execution Error: {e}")
#             print(f"Failed SQL Query: {ev.sql_query}")
#             # Return error information for debugging
#             return SQLResultsEvent(
#                 context_str=f"SQL execution failed: {str(e)}",
#                 sql_query=ev.sql_query,
#                 query_str=ev.query_str
#             )
    
#     @step
#     async def response_synthesis_prompt_step(self, ev: SQLResultsEvent) -> ResponsePromptReadyEvent:
#         """Create the response synthesis prompt"""
#         # You'll need to define response_synthesis_prompt template
#         prompt = response_synthesis_prompt.format(
#             query_str=ev.query_str,
#             context_str=ev.context_str,
#             sql_query=ev.sql_query
#         )
        
#         return ResponsePromptReadyEvent(rs_prompt=prompt)
    
#     @step
#     async def response_synthesis_llm_step(self, ev: ResponsePromptReadyEvent) -> StopEvent:
#         """Generate final answer using LLM"""
#         answer = await Settings.llm.acomplete(ev.rs_prompt)
        
#         return StopEvent(result=str(answer))


# async def run_text2sql_workflow(query: str):
#     workflow = Text2SQLWorkflow(timeout=120)
#     result = await workflow.run(query=query)
#     return result

In [64]:
# custom events
class TableRetrievedEvent(Event):
    tables: list
    query_str: str

class SchemaProcessedEvent(Event):
    table_schema: str
    query_str: str

class SQLPromptReadyEvent(Event):
    t2s_prompt: str
    query_str: str
    table_schema: str
    retry_count: int = 0
    error_message: str = ""

class SQLGeneratedEvent(Event):
    sql_query: str
    query_str: str
    table_schema: str
    retry_count: int = 0
    error_message: str = ""

class SQLParsedEvent(Event):
    sql_query: str
    query_str: str
    table_schema: str
    retry_count: int = 0
    error_message: str = ""

class SQLResultsEvent(Event):
    context_str: str
    sql_query: str
    query_str: str
    success: bool = True

class ResponsePromptReadyEvent(Event):
    rs_prompt: str


def is_valid_sql_start(text: str) -> bool:
    """Check if text starts with valid SQL"""
    if not text:
        return False
    
    sql_keywords = ['SELECT', 'WITH', 'INSERT', 'UPDATE', 'DELETE']
    text_upper = text.upper().strip()
    return any(text_upper.startswith(keyword) for keyword in sql_keywords)

def extract_sql_from_response(llm_response: str) -> str:
    """
    Extract SQL query from LLM response that might contain reasoning or formatting.
    """
    response = llm_response.strip()
    
    # First, remove <think> blocks entirely
    response = re.sub(r'<think>.*?</think>', '', response, flags=re.DOTALL).strip()
    
    # Remove any non-SQL content at the beginning
    response = re.sub(r'^[^S]*(?=SELECT|WITH|INSERT|UPDATE|DELETE)', '', response, flags=re.IGNORECASE)
    
    # Method 1: Look for SQLQuery: pattern
    sql_query_match = re.search(r'SQLQuery:\s*([^;]+;?)', response, re.IGNORECASE | re.DOTALL)
    if sql_query_match:
        sql = sql_query_match.group(1).strip()
        return clean_sql_query(sql)
    
    # Method 2: Look for SQL in code blocks
    code_block_patterns = [
        r'```sql\s*\n(.*?)\n```',
        r'```\s*\n(.*?)\n```',
        r'`([^`]+)`'
    ]
    
    for pattern in code_block_patterns:
        match = re.search(pattern, response, re.IGNORECASE | re.DOTALL)
        if match:
            sql = match.group(1).strip()
            if is_valid_sql_start(sql):
                return clean_sql_query(sql)
    
    # Method 3: Look for standalone SQL statements
    sql_keywords = ['SELECT', 'INSERT', 'UPDATE', 'DELETE', 'WITH']
    
    # Split by lines and look for SQL statements
    lines = response.split('\n')
    for line in lines:
        line = line.strip()
        if not line:
            continue
            
        # Check if line starts with SQL keyword
        if any(line.upper().startswith(keyword.upper()) for keyword in sql_keywords):
            return clean_sql_query(line)
    
    # Method 4: Look for multi-line SQL statements
    for keyword in sql_keywords:
        pattern = rf'\b{keyword}\b.*?(?=\n\s*\n|\nSQLResult|\nAnswer|$)'
        sql_match = re.search(pattern, response, re.IGNORECASE | re.DOTALL)
        if sql_match:
            sql = sql_match.group(0).strip()
            return clean_sql_query(sql)
    
    # Fallback: if nothing found, return empty string to avoid errors
    print(f"Warning: Could not extract SQL from response: {response[:100]}...")
    return "SELECT 1"  # Safe fallback query


def clean_sql_query(sql: str) -> str:
    """
    Clean and standardize SQL query.
    """
    if not sql:
        return "SELECT 1"
    
    # Remove extra whitespace
    sql = ' '.join(sql.split())
    
    # Fix quote issues - convert double quotes to single quotes for string literals
    # This is a simple approach - for more complex cases, you'd need a proper SQL parser
    sql = re.sub(r'"([^"]*)"', r"'\1'", sql)
    
    # Remove multiple semicolons
    sql = re.sub(r';+', ';', sql)
    
    # Remove trailing semicolon and add it back cleanly
    sql = sql.rstrip(';').strip()
    
    # Don't add semicolon for now since it might be causing issues
    return sql


def analyze_sql_error(error_message: str, sql_query: str, table_schema: str) -> str:
    """
    Analyze SQL error and provide suggestions for fixing the query.
    """
    error_lower = error_message.lower()
    
    if "no such column" in error_lower:
        # Extract the problematic column name
        column_match = re.search(r'no such column:\s*(\w+)', error_lower)
        if column_match:
            bad_column = column_match.group(1)
            
            # Try to suggest correct column names from schema
            schema_lower = table_schema.lower()
            possible_columns = re.findall(r'(\w+):', schema_lower)
            
            suggestions = []
            for col in possible_columns:
                if bad_column.lower() in col.lower() or col.lower() in bad_column.lower():
                    suggestions.append(col)
            
            error_msg = f"Column '{bad_column}' does not exist."
            if suggestions:
                error_msg += f" Did you mean: {', '.join(suggestions[:3])}?"
            error_msg += f"\n\nAvailable columns from schema:\n{table_schema}"
            return error_msg
    
    elif "no such table" in error_lower:
        table_match = re.search(r'no such table:\s*([\w\s\[\]]+)', error_lower)
        if table_match:
            bad_table = table_match.group(1).strip()
            return f"Table '{bad_table}' does not exist. Available tables from schema:\n{table_schema}"
    
    elif "syntax error" in error_lower:
        return f"SQL syntax error. Please check:\n- Missing quotes around strings\n- Proper parentheses\n- Correct SQL keywords\n\nFailed query: {sql_query}"
    
    return f"SQL execution error: {error_message}\n\nFailed query: {sql_query}\n\nSchema: {table_schema}"

def create_enhanced_prompt(table_schema: str, query_str: str, retry_count: int = 0, error_message: str = ""):
    if retry_count == 0:
        # Initial attempt
        ENHANCED_PROMPT = f"""Given the table schema and user question below, generate ONLY a valid SQL query.

            Table Schema:
            {table_schema}

            User Question: {query_str}

            IMPORTANT RULES:
            1. Return ONLY the SQL query, nothing else
            2. Use single quotes for string literals, not double quotes
            3. Do not include any explanations, reasoning, or additional text
            4. Do not include labels like "SQLQuery:", "Answer:", etc.
            5. Do not wrap in code blocks or markdown formatting
            6. Do not include semicolons at the end
            7. Do not include any <think> tags or reasoning
            8. Only use column names that exist in the provided schema

            Example format:
            SELECT column_name FROM table_name WHERE condition

            Your SQL query:
        """
    else:
        # Retry attempt with error information
        ENHANCED_PROMPT = f"""The previous SQL query failed with an error. Please generate a corrected SQL query.

            Table Schema:
            {table_schema}

            User Question: {query_str}

            Previous Error: {error_message}

            IMPORTANT RULES:
            1. Return ONLY the corrected SQL query, nothing else
            2. Use single quotes for string literals, not double quotes
            3. Carefully check that all column names exist in the provided schema
            4. Do not include any explanations, reasoning, or additional text
            5. Do not include labels like "SQLQuery:", "Answer:", etc.
            6. Do not wrap in code blocks or markdown formatting
            7. Do not include semicolons at the end
            8. Only use column names that are explicitly listed in the schema above

            Your corrected SQL query:
        """
    
    return ENHANCED_PROMPT

In [65]:
class Text2SQLWorkflow(Workflow):
    
    @step
    async def input_step(self, ev: StartEvent) -> TableRetrievedEvent:
        """Process the initial query and retrieve relevant tables"""
        query = ev.query
        
        # Retrieve table schemas (you'll need to define obj_retriever)
        table_schema_objs = obj_retriever.retrieve(query)
        
        return TableRetrievedEvent(
            tables=table_schema_objs,
            query_str=query
        )
    
    @step
    async def table_output_parser_step(self, ev: TableRetrievedEvent) -> SchemaProcessedEvent:
        """Parse table schemas into string format"""
        # You'll need to define get_table_context_str function
        schema_str = get_table_context_str(ev.tables)
        
        return SchemaProcessedEvent(
            table_schema=schema_str,
            query_str=ev.query_str
        )
    
    @step
    async def text2sql_prompt_step(self, ev: SchemaProcessedEvent | SQLResultsEvent) -> SQLPromptReadyEvent:
        """Create the text-to-SQL prompt with optional error correction"""
        
        # Handle both initial attempt and retry attempts
        if isinstance(ev, SchemaProcessedEvent):
            table_schema = ev.table_schema
            query_str = ev.query_str
            retry_count = 0
            error_message = ""
        else:  # SQLResultsEvent (retry case)
            table_schema = getattr(ev, 'table_schema', '')
            query_str = ev.query_str
            retry_count = getattr(ev, 'retry_count', 0) + 1
            error_message = getattr(ev, 'error_message', '')
        
        prompt = create_enhanced_prompt(table_schema, query_str, retry_count, error_message)
        
        return SQLPromptReadyEvent(
            t2s_prompt=prompt,
            query_str=query_str,
            table_schema=table_schema,
            retry_count=retry_count,
            error_message=error_message
        )
    
    @step
    async def text2sql_llm_step(self, ev: SQLPromptReadyEvent) -> SQLGeneratedEvent:
        """Generate SQL query using LLM"""
        # You'll need to configure Settings.llm
        sql_response = await Settings.llm.acomplete(ev.t2s_prompt)
        
        return SQLGeneratedEvent(
            sql_query=str(sql_response).strip(),
            query_str=ev.query_str,
            table_schema=ev.table_schema,
            retry_count=ev.retry_count,
            error_message=ev.error_message
        )
    
    @step
    async def sql_output_parser_step(self, ev: SQLGeneratedEvent) -> SQLParsedEvent:
        """Parse and clean the generated SQL query"""
        # Extract clean SQL from the LLM response
        clean_sql = extract_sql_from_response(ev.sql_query)
        
        print(f"Attempt #{ev.retry_count + 1}")
        print(f"Original LLM Response: {ev.sql_query}")
        print(f"Cleaned SQL Query: {clean_sql}")
        
        # Validate that we have a reasonable SQL query
        if not clean_sql or clean_sql == "SELECT 1":
            print("Warning: Could not extract valid SQL, using fallback")
        
        return SQLParsedEvent(
            sql_query=clean_sql,
            query_str=ev.query_str,
            table_schema=ev.table_schema,
            retry_count=ev.retry_count,
            error_message=ev.error_message
        )
    
    @step
    async def sql_retriever_step(self, ev: SQLParsedEvent) -> SQLResultsEvent:
        """Execute SQL query and get results with retry logic"""
        max_retries = 3
        
        try:
            # You'll need to define sql_retriever
            results = sql_retriever.retrieve(ev.sql_query)
            
            print(f"[SUCCESS] SQL executed successfully on attempt #{ev.retry_count + 1}")
            return SQLResultsEvent(
                context_str=str(results),
                sql_query=ev.sql_query,
                query_str=ev.query_str,
                success=True
            )
        except Exception as e:
            error_msg = str(e)
            print(f"[ERROR] SQL Execution Error (Attempt #{ev.retry_count + 1}): {error_msg}")
            print(f"Failed SQL Query: {ev.sql_query}")
            
            # Check if we should retry
            if ev.retry_count < max_retries:
                print(f"[RETRY] Retrying... (Attempt #{ev.retry_count + 2}/{max_retries + 1})")
                
                # Create a new event that will trigger a retry
                error_analysis = analyze_sql_error(error_msg, ev.sql_query, ev.table_schema)
                
                # Return an SQLResultsEvent that will trigger a retry
                retry_event = SQLResultsEvent(
                    context_str="",
                    sql_query=ev.sql_query,
                    query_str=ev.query_str,
                    success=False
                )
                retry_event.retry_count = ev.retry_count + 1
                retry_event.error_message = error_analysis
                retry_event.table_schema = ev.table_schema
                
                return retry_event
            else:
                print(f"[ERROR, RETRY FAILED] Max retries ({max_retries}) reached. Giving up.")
                return SQLResultsEvent(
                    context_str=f"Failed to execute SQL after {max_retries + 1} attempts. Final error: {error_msg}",
                    sql_query=ev.sql_query,
                    query_str=ev.query_str,
                    success=False
                )
    
    @step
    async def retry_handler_step(self, ev: SQLResultsEvent) -> SQLPromptReadyEvent:
        """Handle retry logic - only triggered when SQL execution fails"""
        # This step only processes failed SQL results that need retrying
        if ev.success or not hasattr(ev, 'retry_count'):
            return None  # Let successful results pass through to response synthesis
        
        print(f"[RETRY] Preparing retry #{ev.retry_count + 1}")
        
        # Create a new prompt event for retry
        return SQLPromptReadyEvent(
            t2s_prompt="",  # Will be filled in text2sql_prompt_step
            query_str=ev.query_str,
            table_schema=getattr(ev, 'table_schema', ''),
            retry_count=ev.retry_count,
            error_message=getattr(ev, 'error_message', 'Unknown error')
        )
    
    @step
    async def response_synthesis_prompt_step(self, ev: SQLResultsEvent) -> ResponsePromptReadyEvent:
        """Create the response synthesis prompt - only for successful SQL results"""
        # Only process successful SQL results
        if not ev.success:
            return None
            
        # You'll need to define response_synthesis_prompt template
        prompt = response_synthesis_prompt.format(
            query_str=ev.query_str,
            context_str=ev.context_str,
            sql_query=ev.sql_query
        )
        
        return ResponsePromptReadyEvent(rs_prompt=prompt)
    
    @step
    async def response_synthesis_llm_step(self, ev: ResponsePromptReadyEvent) -> StopEvent:
        """Generate final answer using LLM"""
        answer = await Settings.llm.acomplete(ev.rs_prompt)
        
        return StopEvent(result=str(answer))


async def run_text2sql_workflow(query: str):
    workflow = Text2SQLWorkflow(timeout=240)
    result = await workflow.run(query=query)
    return result

### Visualize Workflow

A really nice property of the query pipeline syntax is you can easily visualize it in a graph via networkx.

In [ ]:
# # Build a directed graph of steps
# G = nx.DiGraph()

# # Nodes
# steps = [
#     "input",
#     "table_retriever",
#     "table_output_parser",
#     "text2sql_prompt",
#     "text2sql_llm",
#     "sql_output_parser",
#     "sql_retriever",
#     "response_synthesis_prompt",
#     "response_synthesis_llm"
# ]
# G.add_nodes_from(steps)

# # Edges
# edges = [
#     ("input", "table_retriever"),
#     ("table_retriever", "table_output_parser"),
    
#     ("input", "text2sql_prompt"),
#     ("table_output_parser", "text2sql_prompt"),

#     ("text2sql_prompt", "text2sql_llm"),
#     ("text2sql_llm", "sql_output_parser"),
#     ("sql_output_parser", "sql_retriever"),
    
#     ("sql_output_parser", "response_synthesis_prompt"),
#     ("sql_retriever", "response_synthesis_prompt"),
#     ("input", "response_synthesis_prompt"),
    
#     ("response_synthesis_prompt", "response_synthesis_llm")
# ]
# G.add_edges_from(edges)

# # Visualize
# net = Network(notebook=True, cdn_resources="in_line", directed=True)
# net.from_nx(G)

# html_content = net.generate_html()
# with open("../outputs/trials_v1/text2sql_dag.html", "w", encoding="utf-8") as f:
#     f.write(html_content)

# print("Saved text2sql_dag.html successfully.")

Saved text2sql_dag.html successfully.

In [66]:
async def visualize_text2sql_workflow():
    """
    Function to visualize the Text2SQL workflow both as all possible flows
    and a specific execution example
    """
    output_dir = ("../outputs/trials_v1")
    os.makedirs(output_dir, exist_ok=True)
    
    # 1. Draw ALL possible flows through your workflow
    print("Drawing all possible flows...")
    all_flows_path = os.path.join(output_dir, "text2sql_workflow_all_flows.html")
    draw_all_possible_flows(
        Text2SQLWorkflow, 
        filename=all_flows_path
    )
    print(f"[SUCCESS] All possible flows saved to: {all_flows_path}")

    # 2. Draw a specific execution to see the actual path taken
    print("Running workflow and drawing execution path...")
    
    # Create workflow instance
    workflow = Text2SQLWorkflow(timeout=240)
    
    # Run with a sample query
    sample_query = "What are the top 5 customers by total orders?"
    
    try:
        # Execute the workflow
        result = await workflow.run(query=sample_query)
        
        # Draw the execution path
        execution_path = os.path.join(output_dir, "text2sql_workflow_recent_execution.html")
        draw_most_recent_execution(
            workflow,
            filename=execution_path
        )
        print(f"[SUCCESS] Recent execution path saved to: {execution_path}")
        print(f"Workflow result: {result}")
        
    except Exception as e:
        print(f"[ERROR] Error during workflow execution: {e}")
        print("Note: You may need to set up your retriever and LLM settings first")

# Alternative: Just visualize all flows without execution
def visualize_workflow_structure_only():
    """
    Just visualize the workflow structure without executing it
    """
    output_dir = "../outputs/trials_v1"
    os.makedirs(output_dir, exist_ok=True)
    
    structure_path = os.path.join(output_dir, "fixed_text2sql_workflow_structure.html")
    print("Drawing workflow structure...")
    draw_all_possible_flows(
        Text2SQLWorkflow,
        filename=structure_path
    )
    print(f"[SUCCESS] Workflow structure saved to: {structure_path}")


# Option 1: Just structure
visualize_workflow_structure_only()

# Option 2: Full visualization with execution
# asyncio.run(visualize_text2sql_workflow())

Drawing workflow structure...
../outputs/trials_v1\fixed_text2sql_workflow_structure.html
[SUCCESS] Workflow structure saved to: ../outputs/trials_v1\fixed_text2sql_workflow_structure.html

### Run Some Queries!

Now we're ready to run some queries across this entire pipeline.

In [76]:
tables = obj_retriever.retrieve("What was the year that The Notorious B.I.G was signed to Bad Boy?")
for table in tables:
    print(f"Table: {table}, Type: {type(table)}")

Table: table_name='people_info' context_str="Summary of information about artists' years of signing and album releases", Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='grammy_awards' context_str='Summary of Grammy Award data', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='drop_event_data' context_str='Summary of historical drop event data over time', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='award_data_1972' context_str='Summary of awards in 1972', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='movie_data' context_str='Summary of movie data', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>

In [67]:
result = await run_text2sql_workflow("What was the year that The Notorious B.I.G was signed to Bad Boy?")
print(result)

Attempt #1
Original LLM Response: <think>
Okay, let's see. The user is asking for the year that The Notorious B.I.G was signed to Bad Boy. So first, I need to figure out which tables can provide this information.

The table 'people_info' has columns Act, Year_signed, and others. The user is asking about the year of signing, so maybe that's the relevant column. The 'grammy_awards' table has Year, but that's for Grammy awards. The question is about the year the artist was signed, not their awards. So probably the people_info table is the right one.

Looking at the schema, the people_info table has Year_signed as a column. So the query should select Year_signed from people_info where Act is 'The Notorious B.I.G'. But wait, does the people_info table have the artist's name stored? The problem says the user question is about the year the artist was signed, so the Act column would contain the artist's name. So the SQL query would be SELECT Year_signed FROM people_info WHERE Act = 'The Notorious B.I.G';

Wait, but the table description says 'Summary of information about artists' years of signing and album releases'. So the people_info table's Year_signed is the year the artist signed, so that's correct. The other tables are for different data, like Grammy awards or drop events. So the answer is selecting that column from people_info with the correct artist name.
</think>

SELECT Year_signed FROM people_info WHERE Act = 'The Notorious B.I.G';
Cleaned SQL Query: SELECT Year_signed FROM people_info WHERE Act = 'The Notorious B.I.G'
[SUCCESS] SQL executed successfully on attempt #1
<think>
Okay, let's see. The user asked, "What was the year that The Notorious B.I.G was signed to Bad Boy?" and provided a SQL query that selects the Year_signed from the people_info table where the Act is 'The Notorious B.I.G'. The SQL response gives a result with the year 1993.

Wait, so the SQL query is straightforward. It's a SELECT statement that filters by the Act and returns the Year_signed. The result from the query is a list with a single entry, which is 1993. So the answer should be 1993. The user probably wants that specific number, so I just need to state the year clearly.
</think>

The Notorious B.I.G was signed to Bad Boy in the year 1993.

In [75]:
tables = obj_retriever.retrieve("Who won best director in the 1972 academy awards?")
for table in tables:
    print(f"Table: {table}, Type: {type(table)}")

Table: table_name='award_nominations' context_str='Summary of award data', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='award_data_1972' context_str='Summary of awards in 1972', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='grammy_awards' context_str='Summary of Grammy Award data', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='award_data' context_str='Summary of awards data across categories and years', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='movie_data' context_str='Summary of movie data', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>

In [71]:
response_1 = await run_text2sql_workflow("Who won best director in the 1972 academy awards?")
print(response_1)

Attempt #1
Original LLM Response: <think>
Okay, let's see. The user wants to know who won best director in the 1972 academy awards. First, I need to figure out which tables contain the relevant information.

Looking at the tables provided: there's 'award_data_1972' which has columns like Award, Category, Nominee, Result. The user is asking about the 1972 academy awards, so maybe the 'award_data_1972' table is the right one. The 'award_data' table has Year, Award, Category, Nominated_work, Result. But the user is asking about best director, which might be a specific category. Wait, the 'award_data_1972' has 'Category' as a column. So, if the category is 'Best Director', then we can join with 'award_data_1972' to find the nominee.

But the user's question is about the 1972 academy awards, which probably refers to the 'award_data_1972' table. So the SQL query should select the Nominee from that table where the Category matches 'Best Director' and the Year is 1972. Also, need to check if there's any other tables involved, but the user's question is directly about 1972, so probably just that table.

So the SQL query would be SELECT Nominee FROM award_data_1972 WHERE Year = 1972 AND Category = 'Best Director'; but wait, the example shows using a table name with quotes. Also, the user's example uses SELECT column_name FROM table_name WHERE condition. So the correct query would be as above.

Wait, but the problem says to generate only a valid SQL query. So the answer should be that query. Let me double-check if there's another table. The 'grammy_awards' table also has awards, but the user is specifically asking about academy awards, so probably not needed. The 'movie_data' table is about movies, not awards. So yes, the correct query is as I mentioned.
</think>

SELECT Nominee FROM award_data_1972 WHERE Year = 1972 AND Category = 'Best Director';
Cleaned SQL Query: SELECT Nominee FROM award_data_1972 WHERE Year = 1972 AND Category = 'Best Director'
[ERROR] SQL Execution Error (Attempt #1): Statement "SELECT Nominee FROM award_data_1972 WHERE Year = 1972 AND Category = 'Best Director'" is invalid SQL.
Error: no such column: Year
Failed SQL Query: SELECT Nominee FROM award_data_1972 WHERE Year = 1972 AND Category = 'Best Director'
[RETRY] Retrying... (Attempt #2/4)
[RETRY] Preparing retry #2
Attempt #3
Original LLM Response: <think>
Okay, let's see. The user wants to know who won the best director in the 1972 academy awards. The previous error was that column 'year' doesn't exist, so I need to check which table contains the data.

Looking at the available tables, there's 'award_data_1972' which has columns like Award, Category, Nominee, Result. The user is asking about the 1972 academy awards, so that table seems relevant. The Nominee column would probably hold the winner's name. So the correct SQL query should select the Nominee from 'award_data_1972' where the Year is 1972. Also, need to make sure that the column names are as specified in the schema, and that there are no other columns to consider. The other tables don't seem related to the question. So the corrected query should be a simple SELECT with the appropriate fields and where clause.
</think>

SELECT Nominee FROM award_data_1972 WHERE Year = 1972;
Cleaned SQL Query: SELECT Nominee FROM award_data_1972 WHERE Year = 1972
[ERROR] SQL Execution Error (Attempt #3): Statement 'SELECT Nominee FROM award_data_1972 WHERE Year = 1972' is invalid SQL.
Error: no such column: Year
Failed SQL Query: SELECT Nominee FROM award_data_1972 WHERE Year = 1972
[RETRY] Retrying... (Attempt #4/4)
[RETRY] Preparing retry #4
Warning: Could not extract SQL from response: The problem statement typically includes the following components:

1. **Problem Description**: Cl...
Attempt #2
Original LLM Response: <think>
Okay, the user is asking me to explain the problem statement in the context of the given query. Let me start by understanding the problem. The query is about explaining the problem statement, and the user is probably looking for a clear breakdown of the problem.

First, I need to identify the key components of the problem statement. Typically, it includes the problem itself, the context, the problem's goal, and the problem's constraints. Let me check if the user provided all these elements. The original query mentions a problem statement, context, goal, and constraints. So I should structure the explanation around these points.

Next, I should ensure that the explanation is accurate and covers all necessary details. It's important to explain each element clearly without being too technical. Also, I need to make sure the language is straightforward and easy to understand. Finally, I'll review the explanation to confirm that it addresses all parts of the problem statement as requested.
</think>

The problem statement typically includes the following components:

1. **Problem Description**: Clearly describe the issue or challenge.
2. **Context**: Provide background or setting in which the problem exists.
3. **Goal**: Outline the objective or outcome the problem aims to achieve.
4. **Constraints**: Identify limitations or requirements that must be respected.

For example, if the problem is about optimizing a system, the explanation would detail the systemâ€™s current state, the goal (e.g., minimize cost), and any constraints (e.g., budget limits or performance thresholds).

Let me know if you'd like to refine this explanation further!
Cleaned SQL Query: SELECT 1
Warning: Could not extract valid SQL, using fallback
[SUCCESS] SQL executed successfully on attempt #2
Attempt #5
Original LLM Response: <think>
Okay, let's see. The user wants to find out who won the best director in the 1972 academy awards. The previous error was about the column 'year' not existing. So first, I need to figure out how to connect these tables.

The user's question is about the 1972 Academy Awards. Looking at the tables, there's a table called 'award_data_1972' which seems to have that information. The columns there include 'Award', 'Category', 'Nominee', 'Result'. The user's question is about the best director, so the 'Nominee' column probably holds the winner.

Wait, the available columns from the schema include 'Award' in 'award_data_1972', so I can use that. The 'Nominee' column in that table would correspond to the person who won. So the SQL query should select the Nominee from 'award_data_1972' where the Year is 1972 and the Award is 'best director'.

But wait, the tables mentioned in the schema for Grammy awards and others have different years. But the user's question is about 1972, so I need to make sure that the correct table is used. Also, the 'award_data_1972' table has the necessary columns. So the corrected SQL should be a SELECT statement from that table with the Year set to 1972 and the Award as 'best director'.

I should check if there's any other table involved. The user's question is specifically about Academy Awards, so the correct table is 'award_data_1972'. Therefore, the corrected query is to select the Nominee from that table where the Year is 1972 and the Award is 'best director'.
</think>

SELECT Nominee FROM award_data_1972 WHERE Year = 1972 AND Award = 'best director';
Cleaned SQL Query: SELECT Nominee FROM award_data_1972 WHERE Year = 1972 AND Award = 'best director'
[ERROR] SQL Execution Error (Attempt #5): Statement "SELECT Nominee FROM award_data_1972 WHERE Year = 1972 AND Award = 'best director'" is invalid SQL.
Error: no such column: Year
Failed SQL Query: SELECT Nominee FROM award_data_1972 WHERE Year = 1972 AND Award = 'best director'
[ERROR, RETRY FAILED] Max retries (3) reached. Giving up.
Warning: Could not extract SQL from response: "I want to say something."...
Attempt #4
Original LLM Response: <think>
Okay, the user is asking me to translate a sentence. Let me check the sentence they provided. The user wrote "I want to say something." So the task is to translate that into another language. First, I need to ensure that the translation is accurate and that the language is correctly understood. Since there's no specific language mentioned, I should assume the user wants the translation in English. But maybe they want it in another language, like French or Spanish. However, the user just wrote "I want to say something," so maybe they just need the translation in English. Alternatively, they might be testing if I can handle any language. Wait, the initial message says "Please translate the sentence into another language." But the user's query is just "I want to say something," so maybe they provided the sentence and want it translated. Let me confirm. Yes, the user wrote "I want to say something" as the input, so the task is to translate that sentence. The assistant's response should be the translation. Since there's no specific language, I'll proceed with English. But perhaps the user expects a different language. Let me make sure. The user's instructions are clear: translate the sentence. So the answer should be the translation in the chosen language. If there's no language specified, maybe the user expects a general response. Wait, the user's query is in English, so maybe they just need the translation in English. So the answer would be "I want to say something." But maybe they need it in another language. However, without further information, I'll proceed with English. Alternatively, maybe they want the translation in another language. Wait, perhaps I should check if there's a specific language requested. The original query is in English, so the answer should be in English. So the final answer is "I want to say something." But perhaps the user wants a more detailed response. Let me check once more. The user wrote the sentence, so the assistant's response should be the translation. Since there's no specific language, I'll assume English and provide the translation as such.
</think>

"I want to say something."
Cleaned SQL Query: SELECT 1
Warning: Could not extract valid SQL, using fallback
[SUCCESS] SQL executed successfully on attempt #4
Attempt #2
Original LLM Response: <think>
Okay, let's see. The user provided a table schema and asked for a corrected SQL query to find who won the best director in 1972 Academy Awards.

First, I need to check the schema they provided. Wait, the user mentioned the table schema, but in the previous error, there was no schema mentioned. Oh, maybe they included it in the query? Wait, looking back, the user's initial message says "The previous SQL query failed with an error. Please generate a corrected SQL query." and then lists the table schema in their message. So the correct schema is there. But in the previous error, there was no schema. Wait, maybe the user included the schema in their message? Let me check again.

The user wrote: "Table Schema: [...]". Then in the previous error, there was no error. So the correct schema is provided. So the corrected SQL query should use the columns from that schema. The question is about the best director in 1972 Academy Awards. So the SQL query needs to select from the appropriate table, filter by the year, and select the appropriate column. The error might have been due to missing columns, but since the schema is provided, I can proceed.

Wait, the user says to only use column names that exist in the provided schema. So I need to make sure that the columns are correctly listed. For example, if the table is called "Academy Awards", the columns might be "Year", "Director", "Winner", etc. So the corrected query would select those columns and filter on the year 1972.

So the corrected query would be something like SELECT * FROM Academy Awards WHERE Year = 1972; or similar. But the exact columns depend on the actual schema. Since the user's schema is provided, but in the message, it's just a placeholder, I assume that the columns are properly listed. Therefore, the answer is to write the corrected SQL query using the correct column names from the provided schema.
</think>

SELECT * FROM Academy Awards WHERE Year = 1972;
Cleaned SQL Query: SELECT * FROM Academy Awards WHERE Year = 1972
[ERROR] SQL Execution Error (Attempt #2): Statement 'SELECT * FROM Academy Awards WHERE Year = 1972' is invalid SQL.
Error: no such table: Academy
Failed SQL Query: SELECT * FROM Academy Awards WHERE Year = 1972
[RETRY] Retrying... (Attempt #3/4)
[RETRY] Preparing retry #3
<think>
Okay, let me try to figure this out. The user provided a query and an SQL result. The question is asking, "Who won best director in the 1972 academy awards?" and the SQL response is a single node with a score of 1.

First, I need to understand what the SQL query is doing. The SELECT statement is returning a single result, which is a list with one element. The metadata shows that the score is 1. But the query is about a specific award in 1972, but the SQL response doesn't mention any specific year. Wait, the SQL query is part of an SQL response, so maybe the system is returning the score from the SQL query itself, which is a placeholder.

But the user's question is asking for the person who won the 1972 Academy Awards for Best Director. However, the SQL result doesn't provide any information. It seems like there's a problem here. Maybe the SQL query is not correctly structured to retrieve the data. Alternatively, perhaps the system is testing if I can recognize the structure. Since the SQL query is a SELECT 1, which returns a single row with a score, but the actual data isn't available, the answer would be that there's no information to answer the question.

Wait, but the user is asking for the answer based on the query results. Since the SQL response is empty, maybe the system expects me to infer that there's no winner and state that. So the answer would be that no one won in 1972, but the SQL result doesn't provide any data. Alternatively, maybe the system is expecting me to use the metadata to find the result. But the metadata shows that the score is 1, which is just a placeholder. Therefore, the answer is that the query doesn't provide information to answer the question, and the SQL result is empty.
</think>

The query results indicate no specific information about the 1972 Academy Awards for Best Director. The SQL response is empty, suggesting there is no data available to answer the question. Therefore, the answer is that the query does not provide relevant information.

In [74]:
tables = obj_retriever.retrieve("What was the term of Pasquale Preziosa?")
for table in tables:
    print(f"Table: {table}, Type: {type(table)}")

Table: table_name='government_ministers' context_str='Summary of historical government ministers', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='new_municipality_old_municipality_seat' context_str='This table shows entries with the same values in two columns, but the third is unique.', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='people_terms' context_str='Summary of individual term data', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='award_data_1972' context_str='Summary of awards in 1972', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='people_info' context_str="Summary of information about artists' years of signing and album releases", Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>

In [73]:
response_2 = await run_text2sql_workflow("What was the term of Pasquale Preziosa?")
print(response_2)

Attempt #1
Original LLM Response: <think>
Okay, let's see. The user is asking for the term of Pasquale Preziosa. First, I need to figure out if there's a table that contains information about people, their terms, and maybe some connections.

Looking at the tables provided: there's 'people_terms' which has Name, Term_start, Term_end. The question is about Pasquale Preziosa's term. So I need to check if there's a way to link Pasquale Preziosa to the 'people_terms' table.

The problem mentions that the 'people_terms' table might be connected to other tables. Wait, the user's question doesn't specify any other tables. The only tables are 'government_ministers', 'new_municipality_old_municipality_seat', 'people_terms', 'award_data_1972', and 'people_info'.

But the 'people_terms' table has Name, Term_start, Term_end. If Pasquale Preziosa is a person in 'people_terms', then her term would be in that table. So I need to check if there's a way to link her to the 'people_terms' table. But the user's question doesn't provide any other tables. Wait, maybe there's a connection through another table? But the question says to use the given tables. Unless there's a way to join them, but the problem states to use the given tables.

Wait, maybe the answer is simply to select from 'people_terms' where Name is 'Pasquale Preziosa'. But the problem says to generate only a valid SQL query, so maybe that's the case. But the user's question is in the context of a table, but the tables provided don't include Pasquale Preziosa. Unless there's a typo and she's in another table, but the problem states to use the given schemas.

Alternatively, perhaps the answer is to check if there's a 'people_terms' entry for her. But since the problem says to use the given tables, and the user's question is about Pasquale Preziosa, maybe the answer is to select her term from the 'people_terms' table. But without knowing her name, how can we get that? Wait, maybe there's a connection through another table. But the problem states to use the given tables. Unless there's a mistake in the problem, but I need to proceed.

Wait, the user's question is in the context of the 'people_terms' table. So the answer would be a SELECT query that includes the Name column from 'people_terms' where Term_start or Term_end matches Pasquale Preziosa's data. But since the problem says to generate only a valid SQL query, perhaps the correct approach is to write a SELECT statement that selects Term_start or Term_end from 'people_terms' where Name is 'Pasquale Preziosa'. But the problem is that the user's question is about Pasquale, but the tables don't have her data. Unless there's an error in the question, but I need to proceed.

Wait, maybe there's a way to link her to the 'people_terms' table. But perhaps the problem expects that the user knows her name, and the query is straightforward. But given that the problem says to use the provided tables, perhaps there's no other way. So the SQL query would be to select Term_start or Term_end from people_terms where Name is 'Pasquale Preziosa'. Therefore, the answer is to write that query as a single line.
</think>

SELECT Term_start FROM people_terms WHERE Name = 'Pasquale Preziosa';
Cleaned SQL Query: SELECT Term_start FROM people_terms WHERE Name = 'Pasquale Preziosa'
[SUCCESS] SQL executed successfully on attempt #1
<think>
Okay, let's see. The user is asking for the term of Pasquale Preziosa. They provided a SQL query and the response from that query.

First, I need to parse the SQL response. The output is a list of terms, and the first term is "25 February 2013". So the answer should be that date. The SQL query was executed, and the result has that term. There are no other terms mentioned, so just that one. I should present it clearly in the answer.
</think>

The term associated with Pasquale Preziosa is **25 February 2013**.

In [77]:
tables = obj_retriever.retrieve("Show me total sales by region")
for table in tables:
    print(f"Table: {table}, Type: {type(table)}")

Table: table_name='chart_positions' context_str='Summary of music chart data across countries', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='district_info' context_str='Summary of district data', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='movie_chart_positions' context_str='Summary of movie chart positions across different countries', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='broadcasting_info' context_str='Summary of broadcasting data', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>
Table: table_name='bbc_radio_costs' context_str='Summary of BBC Radio service costs compared to 2011.', Type: <class 'llama_index.core.objects.table_node_mapping.SQLTableSchema'>

In [78]:
response_3 = await run_text2sql_workflow("Show me total sales by region")
print(response_3)

Attempt #1
Original LLM Response: <think>
Okay, let me try to figure out how to answer the user's question. The user wants to show total sales by region. Looking at the tables provided, there's a table called 'chart_positions' which has columns related to chart positions in different countries. Another table is 'Certifications_sales_thresholds_'. Hmm, wait, the user mentioned 'total sales by region', and the chart_positions table has fields like Peak_chart_positions_US (VARCHAR), but I don't see a column for sales yet.

Wait, the user's question is about total sales, so maybe there's a connection to the 'Certifications_sales_thresholds_'. Let me check the schema again. Oh, right, the 'chart_positions' table has a column named Certifications_sales_thresholds_ (INTEGER). But how does that relate to total sales? Maybe each entry in the 'chart_positions' table corresponds to a certification, and the sales threshold is a value. But how to aggregate that into total sales by region?

Wait, perhaps the 'chart_positions' table has data for each certification, and each certification has a sales threshold. But to get total sales, maybe we need to sum the sales thresholds across all certifications. But the user wants it by region. So maybe the regions are specified in the 'chart_positions' table. Wait, the table has fields like Peak_chart_positions_GER, etc., but no region column. The problem is that the user's question is to show total sales by region, but the available tables don't have a region column. So how can we get that?

Wait, maybe the 'chart_positions' table has entries for each country and each certification, and the sales threshold is a value. If I can find a way to sum the sales thresholds for each country and then sum them to get total sales, but the user wants it by region. But without knowing the regions, maybe the answer is to use the 'chart_positions' table and sum the sales thresholds for each country. But the user's question says "total sales by region", implying that each region is a country. But the problem is that the user hasn't provided the regions in the schema. Wait, the user's question is to show total sales by region, but the tables don't have a region column. So maybe there's a mistake here? Or perhaps the regions are implied in the 'chart_positions' table?

Wait, the user's example uses a table, but in this case, there's no region column. Let me check again. The user's question is to show total sales by region, but the tables don't have a region column. Therefore, perhaps the answer is to use the 'chart_positions' table and sum the sales thresholds for each country, but since there's no region, maybe the user made a mistake in the schema, or perhaps I'm missing something.

Alternatively, maybe the 'Certifications_sales_thresholds_' column is the sales threshold, and there's a way to aggregate by region. But since the user hasn't specified regions, perhaps there's an error in the question. However, the user's example format shows using a table, but in this case, there's no region. Maybe the answer is to use the 'chart_positions' table and sum the sales thresholds, but the user's question is to show by region, which might require joining with 'district_info' or another table. But the provided tables don't include a region column. So perhaps the correct approach is to use the 'chart_positions' table and sum the Certifications_sales_thresholds_ column, but that doesn't make sense. Alternatively, maybe the 'chart_positions' table has data for each country and each certification, and the sales threshold is a value. But how to sum by region? Unless the regions are already in the 'chart_positions' table, but the user didn't specify that.

Wait, the user's question is to show total sales by region. Maybe 'region' refers to the country in the chart_positions table. But since there's no region column, perhaps the answer is to use the 'chart_positions' table and sum the Certifications_sales_thresholds_ for each country, but without knowing the regions, maybe the answer is to use the 'chart_positions' table and sum the sales threshold for each country, but the user's question is ambiguous. Since the example uses a table, perhaps the intended answer is to use the 'chart_positions' table and sum the sales threshold, but I'm not sure. Alternatively, maybe the 'chart_positions' table has data for each country, and the sales threshold is part of the data. But without knowing the regions, perhaps the answer is to use the 'chart_positions' table and sum the thresholds, but that's not clear.

Wait, maybe the 'chart_positions' table has entries for each region, but the user hasn't provided that. Since the user's question is to show total sales by region, but the available tables don't have a region column, perhaps there's a mistake in the problem setup. However, the user's instruction says to generate only a valid SQL query, so maybe there's a way. Let me think again.

If the user wants total sales by region, and the table 'chart_positions' has Certifications_sales_thresholds_ (INTEGER), perhaps each entry corresponds to a region. But since there's no region column, maybe the answer is to use the 'chart_positions' table and sum the threshold for each country, but without knowing the regions, perhaps the query is to sum all the thresholds from the 'chart_positions' table. However, the user's question explicitly says to show total sales by region, which suggests that each region is a country, and the sales threshold is per region. But since there's no region column, maybe the answer is to sum all the thresholds from the 'chart_positions' table. But that's not clear. Alternatively, maybe there's a mistake in the schema, and the regions are implied by the other tables. For example, in 'district_info', there's Population (VARCHAR), but not sure. Since the user's example uses a table, perhaps the intended answer is to use the 'chart_positions' table and sum the Certifications_sales_thresholds_ for each country, but without knowing the regions, maybe the answer is to sum all the thresholds. But I'm not sure. Given the information, perhaps the correct SQL query is to sum the Certifications_sales_thresholds_ column from the 'chart_positions' table. However, the user's question is to show total sales by region, which might mean to use the 'chart_positions' table and sum by region, but since there's no region, perhaps the answer is as follows.

Wait, maybe the user intended to use the 'chart_positions' table and the 'Certifications_sales_thresholds_' column. If each entry corresponds to a region, then the total sales by region would be the sum of all Certifications_sales_thresholds_ for each country. So the query would be to sum those values. But without knowing the regions, perhaps the query is to sum the threshold. But the user's question is to show total sales by region, which suggests that each region is a country, and the sales threshold is per country. But since there's no region column, maybe the answer is to sum all the sales thresholds from the 'chart_positions' table. Therefore, the SQL query would be:

SELECT SUM(Certifications_sales_thresholds_) FROM chart_positions;

But the user's question is to show total sales by region, which might require joining with other tables, but given the information, perhaps this is the intended answer. However, I'm not sure. Alternatively, maybe the regions are in the 'chart_positions' table, but the user hasn't specified them. Since the user's example uses a table, perhaps the answer is to sum the thresholds, but the user's question is about regions. This is a bit confusing. Given the constraints, I'll proceed with the sum of the Certifications_sales_thresholds_ from the 'chart_positions' table, assuming that each entry corresponds to a region.
</think>

SELECT SUM(Certifications_sales_thresholds_) FROM chart_positions;
Cleaned SQL Query: SELECT SUM(Certifications_sales_thresholds_) FROM chart_positions
[SUCCESS] SQL executed successfully on attempt #1
<think>
Okay, let me try to figure this out. The user asked to show total sales by region, and there's an SQL query provided. The SQL is SELECT SUM(Certifications_sales_thresholds_) FROM chart_positions. The response from the SQL is a node with a score, and the content is [(None,)].

Hmm, so the SQL is a SELECT statement that sums the 'Certifications_sales_thresholds_' column from the 'chart_positions' table. The result is an empty list, which probably means that the query didn't find any records, or perhaps there's no data to sum. The score is None, which might indicate that the query wasn't successful.

So the user wants total sales by region, but the SQL doesn't have any data. The response from the SQL tells us that the query returned nothing. Therefore, the total sales by region might be zero, or there's no data available. The answer should clarify that there's no sales data available and perhaps mention that the query didn't find any records.
</think>

There is no available data to calculate sales by region based on the provided SQL query. The query returns an empty list, indicating no records were found in the 'chart_positions' table. If sales data is available, it would be summed across regions, but currently, this information is not accessible.

# FINAL SCORE: 2/4 

## -> Problem: Column names aren't getting specified properly